@mixin font-settings($font-family) {
    font-family: $font-family !important;
}

$font-family: "Open Sans", sans-serif; 

.container {
   padding-top: 15% !important;
   padding-bottom: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.header {
    color: #C52402 !important;
    @include font-settings($font-family);
    opacity: 0;
}

.subheader {
    @include font-settings($font-family);
    font-size: 1.2rem !important;
    color: #5D5D5D !important;
    padding: 5px 19% 5px 19% !important;
    font-weight: 400 !important;
    opacity: 0;

    @media (max-width: 500px) {
      font-size: 1rem !important;
    }
}

// @keyframes revealAnimationToRight {
//   0% {
//     opacity: 0;
//     transform: translateX(-100%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }


// .header, .subheader {
//   animation: revealAnimationToRight 5s ease forwards;
//   opacity: 0;
//   transform: translateX(-100%);
// }

// @keyframes revealAnimationToRight {
//   0% {
//     opacity: 0;
//     transform: translateX(-100%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

.animateHeader {
  animation: animate-header 0.6s ease 0s 1 normal forwards;
}

@keyframes animate-header {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




.gridRow {
    margin-top: 50px;
}

.leftContainer {
  background-color: #c52402 !important;
  height: 38rem;
  width: 25rem !important;
  border-radius: 180px;
  position: relative; 
  transition: background-color 0.5s ease, height 0.3s ease;
  opacity: 0;

  @media (max-width: 500px) {
    height: 25rem;
  }
}

.animateLeftContainer {
  animation: animate-container 0.5s ease 0s 1 normal forwards;

}


.animateContainerOnClick {
  animation: animateContainer 1s ease 0s 1 normal forwards ;

}

.leftContainer.animateContainerOnClick {
  animation-delay: 0s; // Immediate animation for animateContainerOnClick
}

.leftContainer.animateLeftContainer {
  animation-delay: 0s; // Delayed animation for animateLeftContainer
}

@keyframes animate-container {
	0% {
    opacity: 1;
		transform: scaleY(0);
	}
  

	100% {
    opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes animateContainer {
	0% {
    opacity: 1;
		transform: scaleY(0);
	}
  

	100% {
    opacity: 1;
		transform: scaleY(1);
	}
}

// .animate {
//   animation: changeHeight 0.5s ease;
// }

// @keyframes changeHeight {
//   0% {
//     height: 38rem;
//   }
//   50% {
//     height: 20rem;
//   }
//   100% {
//     height: 38rem;
//   }
// }

.leftContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: white;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
}

.phoneImg {
    width: 220px !important; 
    height: 360px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    margin-top: 100px !important;

    @media (max-width: 500px) {
      width: 100px !important;
      height: 150px !important;
      margin-top: 70px !important;
    }
}
.list {
    @include font-settings($font-family);
    display: flex !important;
    flex-direction: column;
    align-items: start;
    list-style: none !important;
    gap: 40px;
}

.rightColumn {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    width: 50% !important;
    text-align: left !important;
    padding-left: 30px !important;
    
    @media (max-width: 500px) {
        padding-left: 0px !important;
      }

}

.listItem {
  font-size: 1.5rem;
  font-weight: 600;
  color: #727272 !important;
  opacity: 0; /* Initially not visible */
  transform: translateY(-100%); /* Move items off-screen initially */

  @media (max-width: 830px) {
      font-size: 1.3rem !important;
  }

  @media (max-width: 500px) {
      font-size: 1rem !important;
  }
}

.animateListItem {
  animation-fill-mode: forwards; /* Retain styles after animation */
}

@keyframes animate-item {
  0% {
    opacity: 0;
    transform: translateY(-100%); /* Start from above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Slide down to reveal */
  }
}

.animateFirstListItem {
  animation-duration: 0.6s;
  animation-name: animate-first-item;
  animation-fill-mode: forwards; /* Retain styles after animation */
}

.animateRestListItems {
  animation-duration: 0.8s;
  animation-name: animate-rest-items;
  animation-fill-mode: forwards; /* Retain styles after animation */
  animation-delay: 0.8s; /* Delay for the rest of the list items */
}

@keyframes animate-first-item {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Slide to the right initially */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Slide to the left */
  }
}

@keyframes animate-rest-items {
  0% {
    opacity: 1;
    transform: translateY(-100%); /* Start from above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Slide down to reveal */
  }
}





.listItem {
  &:hover,
  &.active {
    cursor: pointer;
    color: #C52402 !important;
    font-weight: 700 !important;
    
    .circle {
      font-size: 14px !important; 
    }
  }
  
  .circle {
    margin-right: 35px !important;
    font-size: 7px;
    transition: 0.2s ease !important;

    @media (max-width: 830px) {
     margin-right: 5px !important;
    }
  }
}
  
  .CLOUD {
    background-color: #C52402 !important;
  }
  
  .MOBILE {
    background-color: #fab583  !important;
  }
  
  .WEB {
    background-color: #9979ef  !important;
  }
  
  .AI {
    background-color: #c52402  !important;
  }
  
  .BLOCKCHAIN {
    background-color: #2b999c  !important;
  }