<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600|Raleway:400,600,700" rel="stylesheet">
  <link href="/animations.css" type="text/css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Zynappse Website</title>
  <link href="/static/css/main.3bf7e8a9.css" type="text/css" rel="stylesheet">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script type="text/javascript" src="/static/js/main.c286b78d.js"></script>
</body>
<script src="/js/parallaxify.min.js"></script>
<script src="/js/css3-animate-it.js"></script>
<script type="text/javascript">
  function preventDefault(e) {
    (e = e || window.event).preventDefault && e.preventDefault(), e.returnValue = !1
  }

  function preventDefaultForScrollKeys(e) {
    if (keys[e.keyCode]) return preventDefault(e), !1
  }

  function disableScroll() {
    window.addEventListener && window.addEventListener("DOMMouseScroll", preventDefault, !1), window.onwheel = preventDefault, window.onmousewheel = document.onmousewheel = preventDefault, window.ontouchmove = preventDefault, document.onkeydown =
      preventDefaultForScrollKeys
  }

  function enableScroll() {
    window.removeEventListener && window.removeEventListener("DOMMouseScroll", preventDefault, !1), window.onmousewheel = document.onmousewheel = null, window.onwheel = null, window.ontouchmove = null, document.onkeydown = null
  }
  var keys = {
    37: 1,
    38: 1,
    39: 1,
    40: 1
  };
  $(function() {
    $(document).ready(function() {
      var e = $("#root").offset().top + 1,
        o = function() {
          var e = !1;
          return function() {
            e || (e = !0, $(".progress-bar").animate({
              width: "90%"
            }))
          }
        }();
      $(document).scroll(function() {
        $(this).scrollTop() > e && o()
      }), $("#parallax").parallaxify({
        positionProperty: "transform",
        responsive: !0,
        motionType: "natural",
        mouseMotionType: "performance",
        motionAngleX: 70,
        motionAngleY: 70,
        alphaFilter: .5,
        adjustBasePosition: !0,
        alphaPosition: .025
      }), $("#HOME").click(function() {
        $("html, body").animate({
          scrollTop: $("#home").offset().top
        }, 1e3)
      }), $("#ABOUT").click(function() {
        $("html, body").animate({
          scrollTop: $("#about").offset().top
        }, 1e3)
      }), $("#PORTFOLIO").click(function() {
        $("html, body").animate({
          scrollTop: $("#portfolio").offset().top
        }, 1e3)
      }), $("#SKILLS").click(function() {
        $("html, body").animate({
          scrollTop: $("#skills").offset().top
        }, 1e3)
      }), $("#CONTACT").click(function() {
        $("html, body").animate({
          scrollTop: $("#contact").offset().top
        }, 1e3)
      })
    })
  })
</script>

</html>
