.WhoContainer {
    padding-bottom: 15rem !important;
    @media (max-width: 1024px) {
      padding-bottom: 10rem !important;
    }
    @media (max-width: 768px) {
      padding-bottom: 8rem !important;
    }
    @media (max-width: 425px) {
      padding-bottom: 6rem !important;
    }
  }
  
  .title {
    color: #c52402 !important;
    margin-top: 10rem !important;
    opacity: 0;
  
    @media (max-width: 1024px) {
      margin-top: 8rem !important;
    }
    @media (max-width: 768px) {
      margin-top: 6rem !important;
    }
    @media (max-width: 425px) {
      margin-top: 4rem !important;
    }
  }
  
  .animateTitle {
    animation: slideFromRight 1s forwards;
  }
  
  .partners {
    opacity: 0;
    animation: slideFromRight 1s forwards;
  }
  
  .imageContainer {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }
  
  .image {
    width: 100% !important;
    height: 100% !important;
  
    left: -100%;
    animation: slideInFromLeft 1s forwards; 
  }
  
  .bottomSegment {
    position: absolute !important;
    bottom: -10% !important;
    left: 95% !important;
    transform: translateX(-50%) !important;
    width: 15rem !important;
    height: 12rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #c52402 !important;
    color: white !important;
  
    @media (max-width: 1024px) {
      width: 12rem !important;
      height: 10rem !important;
    }
    @media (max-width: 768px) {
      width: 10rem !important;
      height: 8rem !important;
    }
    @media (max-width: 425px) {
      width: 8rem !important;
      height: 6rem !important;
    }
  }
  
  .whyChoose {
    margin-left: 3rem !important;
  
      &:before {
      content: '';
      position: absolute;
      top: 0; 
      left: 0;
      width: 3px; 
      height: 0; 
      background-color: #c52402;
      animation: fillBorder 1s forwards; 
    }
  
    @media (max-width: 1024px) {
      margin-left: 2rem !important;
    }
    @media (max-width: 768px) {
      margin-left: 1rem !important;
    }
  }
  
  .slideFromRight {
    opacity: 0;
    animation: slideFromRight 1s forwards;
  }
  
  .checkIcons {
    color: #7e7e7e !important;
  
    opacity: 0; 
    animation: slideFromRight 1s forwards; 
  }
  
  .buttonContainer {
    position: relative; /* Set position to relative for the button */
  }
  
  .buttonContainer button {
    position: relative;
    left: -100%; /* Start position outside the container */
    animation: slideInFromLeft 1s forwards; /* Apply animation */
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      left: -100%; /* Start position outside the container */
    }
    to {
      opacity: 1;
      left: 0; /* Slide to the original position */
    }
  }
  
  @keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fillBorder {
    from {
      height: 0; /* Start with no height */
    }
    to {
      height: 100%; /* Fill the border to 100% height */
    }
  }