@charset 'utf-8';

@import "../public/abstracts/__abstracts-dir";
@import "../public/base/__base-dir";
@import "../public/components/__components-dir";
@import "../public/layouts/__layouts-dir";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.background {
  width: 100% !important;
}

.overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  // padding-right: 30%;
  
  @media (max-width: 1276px) {
    padding-left: 5%;
  }
  @media (max-width: 1276px) {
    top: 35%;
  }

  @media (max-width: 1020px) {
    top: 32%;
  }
  
}

.header, .header2, .subheader{
  color: white !important;
  font-family: "Open Sans", sans-serif !important; 
}

.header {
  font-size: 2.5rem !important;
  padding-right: 50% !important;
  margin-bottom: 1px !important;

  @media (max-width: 1276px) {
    font-size: 2rem !important;
  }

  @media (max-width: 830px) {
    font-size: 2.5rem !important;
    padding-right: 0px !important
  }

}

.header2 {
  font-size: 2.5rem !important;
  margin-top: 1px !important;
  margin-right: 20% !important;

  @media (max-width: 1276px) {
    font-size: 2rem !important;
  }

  @media (max-width: 767px) {
    font-size: 2.5rem !important;
    margin-right: 0px !important;
  }


}

.subheader {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  padding-right: 50% !important;
  margin-bottom: 30px !important;
  letter-spacing: 0.33px !important;

  @media (max-width: 1276px) {
    font-size: 1rem !important;
  }

  @media (max-width: 767px) {
    padding-right: 1.3em !important;
    padding-left: 1em !important;
  }
}

.button {
  background-color: #C52402 !important;
  font-size: 1.3rem !important;
  width: 170px !important;
  height: auto !important;
  padding: 10px !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important; 

  @media (max-width: 1000px) {
    
   
    font-size: 1rem !important;
    width: 120px !important;
  }

  @media (max-width: 767px) {

    margin-left: 1em !important;
  }
}

.button:hover{
  background-color: white !important;
  color: black !important;

}

.headerContainer {
  display: flex !important;
  position: absolute !important;
  top: 30% !important;
  flex-direction: column !important;
}

.textContainer {
  margin-top: -150px !important;
}

.backgroundImage {
  object-fit: cover !important;
}

.logoContainer {
  display: flex !important;
  justify-content: flex-end;
  position: absolute !important;
  top: -200px !important;
  left: 12% !important; 
}
.zynappseLogo {
  position: absolute !important;
  width: 450px !important;
  height: auto !important;
  min-width: 0 !important;
  min-height: 0 !important;

  @media (max-width: 830px) {
    display: none !important;
  }
}

.textHeader {
  margin-top: -130px !important;
}
