.footerContainer {
    padding: 0 !important;
    margin: 30% 0 0 0  !important; 
    background: url("../../assets/Footer Image@2x.png") !important;
    height: 250px !important;
    background-size: cover !important; 
  }
