.newAboutUs_body {
  width: 1920px;
  height: 1080px;
  background: $background-color 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  overflow-x: hidden !important;
}

.bg_container {
  height: 500px;
  width: 500px;
  top: 130px;
  left: 680px;
  background: url("../static/newAboutUs-page/Group 1964.png");
  position: absolute;
}

.newAboutUs_container {
  top: 152px;
  left: 850px;
  width: 169px;
  height: 67px;
  position: absolute;

  h1 {
    width: 169px;
    height: 67px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 45px/67px $general-font;
    letter-spacing: 0px;
    color: $header-color;
    white-space: nowrap;
    opacity: 1;
  }
}

.newAboutUs_box {
  display: flex;
  justify-content: center;

  .newAboutUs_mission {
    width: 1074px;
    height: 364px;
    top: 252px;
    background: linear-gradient(135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0));
    backdrop-filter: $backdrop-filter;
    -webkit-backdrop-filter: $backdrop-filter;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: $frosted-shadow;
    position: relative;

    h2 {
      padding-left: 145px;
      padding-top: 65px;
      padding-right: 127px;
      /* UI Properties */
      text-align: center;
      font: normal normal normal 18px/24px $segoe-font;
      letter-spacing: 0.18px;
      color: $header-color;
      opacity: 1;
    }

    h3 {
      padding-top: 75px;
      padding-left: 375px;
      padding-right: 389px;
      text-align: center;
      font: normal normal normal 18px/24px $segoe-font;
      letter-spacing: 0px;
      color: $header-color;
      opacity: 1;
    }

    .expBtn_container {
      padding-left: 710px;
      padding-right: 138px;
      padding-bottom: 41px;

      .expBtn {
        width: 217px;
        height: 45px;
        /* UI Properties */
        background: $header-color 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        text-align: center;
        padding: 0px;
        font: normal normal bold 16px/21px $segoe-font;
        letter-spacing: 0px;
        color: $accent-text-color;
      }
    }
  }
}

.icons_container {
  display: flex;
  flex-direction: row;

  row-gap: 87px;
  padding-top: 300px;

  .contacts_fb {
    left: 565px;
    width: 71px;
    height: 71px;
    /* UI Properties */
    background: $backgroundColor2 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: relative;
  }

  .contacts_phone {
    left: 675px;
    width: 71px;
    height: 71px;
    /* UI Properties */
    background: $backgroundColor3 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: relative;
  }

  .contacts_yt {
    left: 874px;
    width: 71px;
    height: 71px;
    /* UI Properties */
    background: $backgroundColor3 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: relative;
  }

  .contacts_linkedin {
    left: 1032px;
    width: 71px;
    height: 71px;
    /* UI Properties */
    background: $backgroundColor3 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: relative;
  }
}

.dlBtn_container {
  padding-left: 768px;
  padding-right: 719px;
  padding-top: 80px;

  .dlBtn {
    width: 297px;
    height: 61px;
    /* UI Properties */
    background: $button-color 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold 20px/27px $segoe-font;
    letter-spacing: 0px;
    color: $header-color;
    position: relative;
  }
}

// PAGE 2 ABOUT US

.page2_body {
  width: 1920px;
  height: 2446px;
  background: $background-color 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.circle1 {
  float: left;
  top: 296px;
  width: 657px;
  height: 1463px;
  margin-top: -1270px;
  /* UI Properties */
  opacity: 1;
}

.circle2 {
  float: right;
  top: 296px;
  width: 657px;
  height: 1463px;
  margin-top: -1270px;
  /* UI Properties */
  opacity: 1;
}

.page2_container {
  .page2_header {
    top: 170px;
    left: 518px;
    width: 914px;
    height: 106px;
    position: absolute;

    h3 {
      top: 107px;
      left: 915px;
      text-align: center;
      font: normal normal normal 30px/45px $general-font;
      letter-spacing: 1.5px;
      opacity: 1;
      text-align: center;
      color: $header-color;
    }

    h1 {
      top: 170px;
      left: 518px;
      width: 960px;
      height: 106px;
      /* UI Properties */
      text-align: center;
      font: normal normal bold 80px/106px $segoe-font;
      letter-spacing: 0px;
      color: $header-color;
      opacity: 1;
    }
  }

  .page2_img {
    top: 392px;
    left: 656px;
    width: 609px;
    height: 794px;
    position: absolute;
  }

  .page2_mission {
    top: 1252px;
    left: 645px;
    width: 631px;
    height: 204px;
    position: absolute;

    h4 {
      top: 1252px;
      left: 645px;
      width: 631px;
      height: auto;
      /* UI Properties */
      text-align: center;
      font: normal normal normal 20px/20px $segoe-font;
      letter-spacing: 0.2px;
      color: $header-color;
      opacity: 1;
    }

    h2 {
      top: 1495px;
      left: 672px;
      width: 376px;
      margin-top: 39px;
      height: 53px;
      margin-left: 120px;
      /* UI Properties */

      text-align: center;
      font: normal normal bold 40px/53px $segoe-font;
      letter-spacing: 0px;
      color: $accent-text-color;
      opacity: 1;
    }
  }
}


//****************Tablet
@media screen and (min-width: 768px) and (max-width: 886px) {

  .newAboutUs_body {
    width: 100%;
    height: auto;
  }

  .bg_container {
    height: 500px;
    width: 500px;
    top: 3em;
    left: 10em;
  }

  .newAboutUs_container {
    top: 6em;
    left: 22em;
    width: 169px;
    height: 67px;

    h1 {
      width: 100%;
      height: auto;
      /* UI Properties */
      text-align: center;
      font: normal normal normal 3rem/4rem $general-font;
    }
  }

  .newAboutUs_box {
    .newAboutUs_mission {
      width: 80%;
      height: 364px;
      top: 12em !important;

      h2 {
        padding-left: 4em;
        padding-top: 4em;
        padding-right: 4em;
        padding-bottom: 3em;
        /* UI Properties */
        font: normal normal normal .9rem/1.2rem $segoe-font;
      }

      h3 {
        padding: 1em 0em 4em 0em;
        font: normal normal normal .9rem/1.2rem $segoe-font;
      }

      .expBtn_container {
        padding-left: 29em;
        padding-right: 4.5em;
        padding-bottom: 41px;

        .expBtn {
          width: 100%;
          height: 30px;
          /* UI Properties */
          border-radius: 5px;
          opacity: 1;
          padding: 0px;
          font: normal normal bold .8rem/1.2rem $segoe-font;
        }
      }
    }
  }

  .icons_container {
    padding: 15em 0em 1em 0em;

    .contacts_fb {
      left: 8em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
      opacity: 1;
    }

    .contacts_phone {
      left: 13em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_yt {
      left: 25em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_linkedin {
      left: 30em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;    
    }
  }

  .dlBtn_container {
    padding: 3em 5em 3em 18em;

    .dlBtn {
      width: 50%;
      height: 40px;
      /* UI Properties */
      border-radius: 5px;
      font: normal normal bold 1rem/1.5rem $segoe-font;
    }
  }

  // PAGE 2 ABOUT US

  .page2_body {
    padding-top: 30em;
    width: 100%;
    height: 1250px !important;
  }

  .circle1 {
    float: left;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1270px;
    /* UI Properties */
    opacity: 1;
  }

  .circle2 {
    float: right;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1270px;
    /* UI Properties */
    opacity: 1;
  }

  .page2_container {
    .page2_header {
      top: 170px;
      left: 0px !important;
      width: 100%;
      height: auto;

      h3 {
        top: 100%;
        left: 0;
        font: normal normal normal 1.5rem/1.8rem $general-font;
      }

      h1 {
        top: 170px;
        left: -2rem !important;
        width: 100%;
        height: auto;
        /* UI Properties */
        text-align: center;
        font: normal normal bold 4rem/5rem $segoe-font;
      }
    }

    .page2_img {
      top: 25em;
      left: 5em;
      width: 609px;
      height: 794px;
    }

    .page2_mission {
      top: 85em;
      left: 12em;
      width: 100%;
      height: auto;

      h4 {
        left: 645px;
        width: 60%;
        height: auto;
        /* UI Properties */
        font: normal normal normal 1rem/1rem $segoe-font;
      }

      h2 {
        width: 100%;
        height: auto;
        margin-left: -4.8em !important;
        /* UI Properties */
        font: normal normal bold 2.5rem/2.5rem $segoe-font;
      }
    }
  }

}

//****************** Mobile
@media screen and (min-width: 320px) and (max-width: 425px) {

  .newAboutUs_body {
    width: 100%;
    height: auto;
  }

  .bg_container {
    height: 500px;
    width: 500px;
    top: 3em;
    display: none; //red circle bg_container is disabled since image not resizing
    left: 10em;
  }

  .newAboutUs_container {
    top: 6em;
    left: 5.5em;
    width: 169px;
    height: 67px;
    position: absolute;

    h1 {
      width: 100%;
      height: auto;
      /* UI Properties */
      font: normal normal normal 2.5rem/3rem $general-font;
    }
  }

  .newAboutUs_box {
    .newAboutUs_mission {
      width: 70%;
      height: auto;
      top: 12em !important;

      h2 {
        padding: 4em 4em 0em 4em;
        /* UI Properties */
        font: normal normal normal .5rem/.8rem $segoe-font;
      }

      h3 {
        padding: .5em 0em 2em 0em;
        font: normal normal normal .5rem/.8rem $segoe-font;
      }

      .expBtn_container {
        padding-left: 11em;
        padding-right: 1em;
        padding-bottom: 20px;

        .expBtn {
          width: 100%;
          height: auto;
          /* UI Properties */
          border-radius: 5px;
          padding: 0px;
          font: normal normal bold .5rem/.8rem $segoe-font;
        }
      }
    }
  }

  .icons_container {
    row-gap: 87px;
    padding: 13em 0em 1em 0em;

    .contacts_fb,
    .contacts_linkedin,
    .contacts_phone,
    .contacts_yt {
      width: 30px;
      height: 30px;
    }

    .contacts_fb {
      left: 4em;
      /* UI Properties */
      background: $backgroundColor2 0% 0% no-repeat padding-box;
      border-radius: 50%;
    }

    .contacts_phone {
      left: 6em;
      /* UI Properties */
      background: $backgroundColor3 0% 0% no-repeat padding-box;
      border-radius: 50%;
    }

    .contacts_yt {
      left: 8em;
      /* UI Properties */
      background: $backgroundColor3 0% 0% no-repeat padding-box;
      border-radius: 50%;
    }

    .contacts_linkedin {
      left: 10em;
      /* UI Properties */
      border-radius: 50%;
    }
  }

  .dlBtn_container {
    padding: 1em 7em 3em 7em;

    .dlBtn {
      width: 100%;
      height: 40px;
      /* UI Properties */
      border-radius: 5px;
      font: normal normal bold .5rem/.8rem $segoe-font;
    }
  }

  // PAGE 2 ABOUT US

  .page2_body {
    width: 100%;
    height: 1250px !important;
  }

  .circle1 {
    padding-top: 60em;
    display: none;
    float: left;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1270px;
  }

  .circle2 {
    display: none;
    float: right;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1270px;
  }

  .page2_container {
    .page2_header {
      top: 70px;
      left: 0px !important;
      width: 100%;
      height: auto;

      h3 {
        top: 100%;
        left: 0;
        font: normal normal normal 1rem/1.5rem $general-font;
      }

      h1 {
        top: 170px;
        left: -2rem !important;
        width: 100%;
        height: auto;
        /* UI Properties */
        font: normal normal bold 2rem/3rem $segoe-font;
      }
    }

    .page2_img {
      top: 15em;
      left: 0em;
      width: 100%;
      height: auto;
    }

    .page2_mission {
      top: 48em;
      left: 5em;
      width: 100%;
      height: auto;

      h4 {
        width: 65%;
        height: auto;
        font: normal normal normal .7rem/1rem $segoe-font;
      }

      h2 {
        width: 90%;
        height: auto;
        margin: 1.5em 0em 0em -2em;
        /* UI Properties */
        font: normal normal bold 1.5rem/2rem $segoe-font;
      }
    }
  }

}


//**************Laptop
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .newAboutUs_body {
    width: 100%;
    height: auto;
  }

  .bg_container {
    height: 500px;
    width: 500px;
    top: 3em;
    left: 20em;
  }

  .newAboutUs_container {
    top: 6em;
    left: 32em;
    width: 169px;
    height: 67px;

    h1 {
      width: 100%;
      height: auto;
      /* UI Properties */
      font: normal normal normal 3rem/4rem $general-font;
    }
  }

  .newAboutUs_box {
    .newAboutUs_mission {
      margin-left: 0em;
      width: 83%;
      height: auto;
      top: 12em !important;

      h2 {
        padding: 4em 8em 3em 8em;
        width: 100%;
        /* UI Properties */
        font: normal normal normal 1rem/1.2rem $segoe-font;
      }

      h3 {
        padding: 1em 0em 3em 0em;
        font: normal normal normal 1rem/1.2rem $segoe-font;
      }

      .expBtn_container {
        padding-left: 40em;
        padding-right: 9em;
        padding-bottom: 41px;

        .expBtn {
          width: 100%;
          height: 30px;
          /* UI Properties */
          border-radius: 5px;
          opacity: 1;
          padding: 0px;
          font: normal normal bold 1rem/1.2rem $segoe-font;
        }
      }
    }
  }

  .icons_container {
    padding: 17em 0em 1em 0em;

    .contacts_fb {
      left: 15em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_phone {
      left: 21em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_yt {
      left: 34em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_linkedin {
      left: 39em;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }
  }

  .dlBtn_container {
    padding: 3em 5em 3em 25em;

    .dlBtn {
      width: 50%;
      height: 40px;
      /* UI Properties */
      border-radius: 5px;
      font: normal normal bold 1rem/1.5rem $segoe-font;
    }
  }

  // PAGE 2 ABOUT US

  .page2_body {
    width: 100%;
    height: 1700px !important;
  }

  .circle1 {
    padding-top: 65em;
    float: left;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1270px;
  }

  .circle2 {
    padding-top: 50em;
    float: right;
    top: 0px;
    width: 657px;
    height: 100%;
    margin-top: -1270px;
  }

  .page2_container {
    .page2_header {
      top: 170px;
      left: 0px !important;
      width: 100%;
      height: auto;

      h3 {
        top: 100%;
        left: 0;
        font: normal normal normal 1.5rem/1.8rem $general-font;
      }

      h1 {
        top: 170px;
        left: -2rem !important;
        width: 100%;
        height: auto;
        /* UI Properties */
        font: normal normal bold 4rem/5rem $segoe-font;
      }
    }

    .page2_img {
      top: 25em;
      left: 11em;
      width: 609px;
      height: 794px;
    }

    .page2_mission {
      top: 85em;
      left: 12em;
      width: 100%;
      height: auto;

      h4 {
        left: 645px;
        width: 60%;
        height: auto;
        /* UI Properties */
        font: normal normal normal 1rem/1rem $segoe-font;
      }

      h2 {
        width: 100%;
        height: auto;
        margin-left: -4.8em !important;
        /* UI Properties */
        font: normal normal bold 2.5rem/2.5rem $segoe-font;
      }
    }
  }
}
@media screen and (min-width: 1300px) and (max-width: 1599px) {
  .newAboutUs_body {
    width: 100%;
    height: auto;
  }

  .bg_container {
    height: 500px;
    width: 500px;
    top: 3em;
    left: 30vw;
  }

  .newAboutUs_container {
    top: 6em;
    left: 40vw;
    width: 169px;
    height: 67px;

    h1 {
      width: 100%;
      height: auto;
      /* UI Properties */
      font: normal normal normal 3rem/4rem $general-font;
    }
  }

  .newAboutUs_box {
    .newAboutUs_mission {
      margin-left: -5vw;
      width: 50%;
      height: auto;
      top: 12em !important;

      h2 {
        padding: 4em 10em 3em 6em;
        width: 110%;
        /* UI Properties */
        font: normal normal normal 1rem/1.2rem $segoe-font;
      }

      h3 {
        padding: 1em 0em 3em 0em;
        font: normal normal normal 1rem/1.2rem $segoe-font;
      }

      .expBtn_container {
        padding-left: 33vw;
        padding-right: 6em;
        padding-bottom: 41px;

        .expBtn {
          width: 100%;
          height: 30px;
          /* UI Properties */
          border-radius: 5px;
          opacity: 1;
          padding: 0px;
          font: normal normal bold 1rem/1.2rem $segoe-font;
        }
      }
    }
  }

  .icons_container {
    padding: 15em 0em 1em 0em;

    .contacts_fb {
      left: 27vw;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_phone {
      left: 31vw;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_yt {
      left: 45vw;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_linkedin {
      left: 49vw;
      width: 50px;
      height: 50px;
      /* UI Properties */
      border-radius: 50%;
    }
  }

  .dlBtn_container {
    padding: 3vw 30vw 3vw 38vw;

    .dlBtn {
      width: 15vw;
      height: 40px;
      /* UI Properties */
      border-radius: 5px;
      font: normal normal bold 1rem/1.5rem $segoe-font;
    }
  }

  // PAGE 2 ABOUT US

  .page2_body {
    width: 100%;
    height: 120vw !important;
  }

  .circle1 {
    padding-top: 65em;
    float: left;
    top: 0px;
    width: 657px;
    height: 1463px;
    margin-top: -1700px;
  }

  .circle2 {
    padding-top: 50em;
    float: right;
    top: 0px;
    width: 657px;
    height: 100%;
    margin-top: -1500px;
  }

  .page2_container {
    .page2_header {
      top: 170px;
      left: 0px !important;
      width: 100%;
      height: auto;

      h3 {
        top: 100%;
        left: 0;
        font: normal normal normal 1.5rem/1.8rem $general-font;
      }

      h1 {
        top: 170px;
        left: -2rem !important;
        width: 100%;
        height: auto;
        /* UI Properties */
        font: normal normal bold 4rem/5rem $segoe-font;
      }
    }

    .page2_img {
      top: 25em;
      left: 30vw;
      width: 609px;
      height: 794px;
    }

    .page2_mission {
      top: 85em;
      left: 33vw;
      width: 50%;
      height: auto;

      h4 {
        width: 64%;
        height: auto;
        /* UI Properties */
        font: normal normal normal 1.2rem/1.5rem $segoe-font;
      }

      h2 {
        width: 100%;
        height: auto;
        margin-left: -10vw !important;
        /* UI Properties */
        font: normal normal bold 2.5rem/2.5rem $segoe-font;
      }
    }
  }
}

//*********************4k
@media screen and (min-width: 2560px) {
  .newAboutUs_body {
    width: 100%;
    height: 1080px;
  }

  .bg_container {
    height: 500px;
    width: 500px;
    top: 130px;
    left: 1000px;
  }

  .newAboutUs_container {
    top: 152px;
    left: 1160px;
    width: 169px;
    height: 67px;

    h1 {
      width: 169px;
      height: 67px;
      /* UI Properties */
      font: normal normal normal 45px/67px $general-font;
    }
  }

  .newAboutUs_box {
    .newAboutUs_mission {
      width: 1074px;
      height: 364px;
      top: 252px;

      h2 {
        padding-left: 145px;
        padding-top: 65px;
        padding-right: 127px;
        /* UI Properties */
        font: normal normal normal 18px/24px $segoe-font;
      }

      h3 {
        padding-top: 75px;
        padding-left: 375px;
        padding-right: 389px;
        font: normal normal normal 18px/24px $segoe-font;
      }

      .expBtn_container {
        padding-left: 710px;
        padding-right: 138px;
        padding-bottom: 41px;

        .expBtn {
          width: 217px;
          height: 45px;
          /* UI Properties */
          border-radius: 10px;
          padding: 0px;
          font: normal normal bold 16px/21px $segoe-font;
        }
      }
    }
  }

  .icons_container {
    row-gap: 87px;
    padding-top: 300px;

    .contacts_fb {
      left: 925px;
      width: 71px;
      height: 71px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_phone {
      left: 1000px;
      width: 71px;
      height: 71px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_yt {
      left: 1230px;
      width: 71px;
      height: 71px;
      /* UI Properties */
      border-radius: 50%;
    }

    .contacts_linkedin {
      left: 1300px;
      width: 71px;
      height: 71px;
      /* UI Properties */
      border-radius: 50%;
    }
  }

  .dlBtn_container {
    padding-left: 1100px;
    padding-right: 719px;
    padding-top: 80px;

    .dlBtn {
      width: 297px;
      height: 61px;
      /* UI Properties */
      border-radius: 10px;
      font: normal normal bold 20px/27px $segoe-font;
    }
  }

  // PAGE 2 ABOUT US

  .page2_body {
    width: 100%;
    height: 2446px;
  }

  .circle1 {
    float: left;
    padding-top: 30em;
    top: 296px;
    width: 657px;
    height: 1463px;
  }

  .circle2 {
    float: right;
    top: 296px;
    padding-top: 30em;
    width: 657px;
    height: 1463px;
  }

  .page2_container {
    .page2_header {
      top: 170px;
      left: 850px;
      width: 914px;
      height: 106px;

      h3 {
        top: 107px;
        left: 915px;
        font: normal normal normal 30px/45px $general-font;
      }

      h1 {
        top: 170px;
        left: 518px;
        width: 960px;
        height: 106px;
        /* UI Properties */
        font: normal normal bold 80px/106px $segoe-font;
      }
    }

    .page2_img {
      top: 392px;
      left: 1000px;
      width: 609px;
      height: 794px;
    }

    .page2_mission {
      top: 1252px;
      left: 1000px;
      width: 631px;
      height: 204px;

      h4 {
        top: 1252px;
        left: 645px;
        width: 95%;
        height: auto;
        /* UI Properties */
        font: normal normal normal 25px/25px $segoe-font;
      }

      h2 {
        top: 1495px;
        left: 672px;
        width: 376px;
        height: 53px;
        margin-left: 120px;
        /* UI Properties */
        font: normal normal bold 40px/53px $segoe-font;
      }
    }
  }
}