.accomplishmentPage {
    background: $background-color 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
    padding-bottom: 22vh;
    position: relative;
    overflow-x: hidden;

    @include media (mobile, mobile-s) {
        gap: 5em;
    }

    .rightDecorContainer {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(16%, -50%);
        z-index: 1;

        @include media (mobile, mobile-s) {
            transform: translate(20%, -50%);
        }
    }

    .leftDecorContainer {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-16%, -50%);
        z-index: 1;

        @include media (mobile, mobile-s) {
            transform: translate(-20%, -50%);
        }
    }

    .accomplishmentsHeader {
        margin: 11.5741vh 0 0 0 !important;
        color: $header-color;
        font-size: clamp(45px, 2.34375vw, 2.34375vw) !important;
        line-height: 4.3519vh !important;
        font-family: $general-font;
        width: 100%;
        text-align: center;
        z-index: 2;

        @include media (tablet, phablet, mobile, mobile-s) {
            margin-bottom: 93px;
        }
    }

    .accomplishmentGrid {
        z-index: 2;
        @include media (tablet, phablet, mobile, mobile-s) {
            width: 90vw !important;
        }
    }

    .accomplishmentsTextbox {
        width: 1020px;
        height: fit-content;
        background: $about-mission-background;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;
        border-radius: 10px;
        box-shadow: $frosted-shadow;
        display: flex;
        justify-content: center;
        padding: 5em 0 5em 0;
        z-index: 2;

        @include media (tablet, phablet, mobile, mobile-s) {
            width: 90vw;
        }

        .accomplishmentsContent {
            text-align: center;
            width: 900px;
            font: normal normal normal 18px $segoe-font;
            letter-spacing: 0.01vw;
            color: $header-color;
            opacity: 1;

            @include media (tablet, phablet, mobile, mobile-s) {
                width: 80vw;
            }
        }
    }
}