.accomplishmentContainer{
    background: $background-color 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decorCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topDecorContainer{
    position: absolute;
    // top: -101vh;
    top: 283.3vh;
    left: 6.5vw;
}

.rightDecorContainer{
    position: absolute;
    right: 0;
}

.leftDecorContainer{
    position: absolute;
    left: 0;
}

.accomplishmentsHeader{
    font: normal normal normal 3.54vw/8.33vh $general-font !important;
    letter-spacing: 0px !important;
    color: $header-color !important;
    opacity: 1;
    text-transform: uppercase;
    margin-top: -50vh !important;
    padding: 0 !important;
}

.aptura {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10vh;
    position: absolute;
}

.flexbox{
    margin: 1.04vw;
    align-items: center;
}

.img4{
    margin-top: 2.04vh;
}

.accomplishmentsTextbox{
    width: 53.33vw;
    height: 19.54vh;
    opacity: 1;
    background: $frosted-bg;
    backdrop-filter: blur(0.52vw);
    -webkit-backdrop-filter: blur(0.52vw);
    border-radius: 0.52vw;
    box-shadow: $frosted-shadow;
    position: absolute;
    // top: 65vh;
    top: 472vh;
}

.accomplishmentsContent{
    width: 41.77vw;
    height: 8.98vh;
    text-align: center;
    font: normal normal normal 0.94vw/2.31vh $segoe-font;
    letter-spacing: 0.01vw;
    color: $header-color;
    opacity: 1;
    position: absolute;
    // top: 71vh;
    top: 478vh;

}

// --------------------- responsiveness --------------------------
@media screen and (max-width: 1299px) and (min-width: 1200px) {
    .topDecorContainer{
        width: 86.5vw;
        top: 270vh;
        left: 7vw;
    }

    .rightDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }
    .leftDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }

    .flexbox{
        width: 16.47vw;
        height: 33.49vh;
    }
    .img4{
        width: 16.54vw;
        height: 33.64vh;
        margin-top: 1.37vh;
    }

    .accomplishmentsTextbox{
        top: 460vh;
    }
    .accomplishmentsContent{
        top: 464vh;
    }

    .accomplishmentsHeader{
        font: normal normal normal 3.29vw/10.20vh $general-font;
        margin-top: -60vh;
    }
    
}

@media screen and (max-width: 1399px) and (min-width: 1300px) {
    .topDecorContainer{
        width: 86.7vw;
        top: 279vh;
        left: 7vw;
    }

    .rightDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }
    .leftDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }

    .flexbox{
        width: 16.47vw;
        height: 33.49vh;
    }
    .img4{
        width: 16.54vw;
        height: 33.64vh;
        margin-top: 1.37vh;
    }
    .accomplishmentsTextbox{
        top: 467vh;
    }
    .accomplishmentsContent{
        top: 472vh;
    }
    .accomplishmentsHeader{
        font: normal normal normal 3.29vw/10.20vh $general-font;
        margin-top: -60vh;
    }
    
}

@media screen and (max-width: 1599px) and (min-width: 1400px) {
    .topDecorContainer{
        width: 87vw;
        top: 259vh;
    }

    .rightDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }
    .leftDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }

    .flexbox{
        width: 16.47vw;
        height: 33.49vh;
    }
    .img4{
        width: 16.54vw;
        height: 33.64vh;
        margin-top: 1.37vh;
    }
    .accomplishmentsTextbox{
        top: 438vh;
    }
    .accomplishmentsContent{
        top: 444vh;
    }
    .accomplishmentsHeader{
        font: normal normal normal 3.29vw/10.20vh $general-font;
        margin-top: -60vh;
    }
    
}

@media screen and (max-width: 1599px) and (min-width: 1500px) {
    .accomplishmentsTextbox{
        top: 446vh;
    }
    .accomplishmentsContent{
        top: 452vh;
    }
    
}

@media screen and (max-width: 1699px) and (min-width: 1600px) {
    .topDecorContainer{
        width: 86.8vw;
        top: 319.5vh;
        left: 6.8vw;
    }

    .rightDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }
    .leftDecorContainer{
        width: 11.71vw;
        height: 62.40vh;
    }

    .flexbox{
        width: 16.47vw;
        height: 33.49vh;
    }
    .img4{
        width: 16.54vw;
        height: 33.64vh;
        margin-top: 1.37vh;
    }
    .accomplishmentsTextbox{
        top: 505vh;
    }
    .accomplishmentsContent{
        top: 511.5vh;
    }
    .accomplishmentsHeader{
        font: normal normal normal 3.29vw/10.20vh $general-font;
        margin-top: -60vh;
    }
    
}

@include tablet{
    .topDecorContainer{
        display: none;
    }
    .rightDecorContainer{
        width: 18.23vw;
        height: 38.09vh;
    }
    .leftDecorContainer{
        width: 18.23vw;
        height: 38.09vh;
    }
    .accomplishmentsHeader{
        margin-top: -70vh !important;
        font: normal normal normal 5.86vw/6.54vh $general-font !important;
    }
    .aptura{
        flex-wrap: wrap;
        width: 78.13vw;
    }
    
    .flexbox{
        width: 27.99vw;
        height: 20.51vh;
    }
    .img4{
        width: 28.13vw;
        height: 20.61vh;
        margin-top: 0.78vh;
    }

    .accomplishmentsTextbox{
        width: 78.13vw;
        height: 19.53vh;
        top: 395vh;
    }

    .accomplishmentsContent{
        width: 65.10vw;
        height: 9.77vh;
        top: 400vh;
        font: normal normal normal 1.95vw/2.25vh $segoe-font;
    }
}

@include phablet{
    .topDecorContainer{
        display: none;
    }
    
    .rightDecorContainer{
        width: 21.67vw;
        height: 39.58vh;
    }
    .leftDecorContainer{
        width: 21.67vw;
        height: 39.58vh;
    }
    .accomplishmentsHeader{
        margin-top: -65vh !important;
        font: normal normal normal 7.50vw/6.98vh $general-font !important;
    }
    .aptura{
        flex-wrap: wrap;
        width: 66.67vw;
        margin-top: -10.42vh;
    }
    
    .flexbox{
        width: 23.33vw;
        height: 14.06vh;
    }
    .img4{
        width: 23.67vw;
        height: 14.27vh;
        margin-top: 0.52vh;
    }

    .accomplishmentsTextbox{
        width: 86.67vw;
        height: 20.83vh;
        top: 497vh;
    }
    
    .accomplishmentsContent{
        width: 75vw;
        height: 10.42vh;
        top: 502vh;
        font: normal normal normal 2.50vw/2.40vh $segoe-font;
    }
}

@include mobile{
    .topDecorContainer{
        display: none;
    }
    .rightDecorContainer{
        width: 25vw;
        height: 42.50vh;
    }
    .leftDecorContainer{
        width: 25vw;
        height: 42.50vh;
    }
    .accomplishmentsHeader{
        margin-top: -70vh !important;
        font: normal normal normal 9.72vw/7.12vh $general-font !important;
    }
    .aptura{
        flex-wrap: wrap;
        width: 97.22vw;
        margin-top: -20vh;
    }
    
    .flexbox{
        width: 33.33vw;
        height: 14.37vh;
    }
    .img4{
        width: 33.33vw;
        height: 14.37vh;
        margin-top: 0.63vh;
    }

    .accomplishmentsTextbox{
        width: 90.28vw;
        height: 25vh;
        top: 486vh;
    }
    
    .accomplishmentsContent{
        width: 71.39vw;
        height: 12.50vh;
        top: 488.5vh;
        font: normal normal normal 4.17vw/2.88vh $segoe-font;
    }
}