.footerCont {
    width: 100vw;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: 1200;

    .imageContainer {

        >span {
            position: unset !important;
        }

        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }

    @include media (tablet, phablet, mobile, mobile-s) {
        height: fit-content;
    }

    .footerBackground {
        width: 100%;
        height: 100%;
        background: $frosted-bg;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;
        box-shadow: $frosted-shadow;
        display: flex;
        justify-content: space-between;
        padding: 4em 5em 0 5em;

        @include media (medium-screen, small-screen) {
            padding: 3em 2em 0 2em;
        }

        @include media (tablet, phablet) {
            padding: 2em 3em 3em 3em;
            flex-direction: column;
            gap: .8em;
        }

        @include media (mobile, mobile-s) {
            padding: 2em 1em 2em 1em;
            flex-direction: column;
            gap: .8em;
        }

        .leftFooter {
            display: flex;
            gap: 1.5em;

            @include media (tablet, phablet, mobile, mobile-s) {
                justify-content: center;
            }

            .zyLogo {
                width: 60px;
                margin: .5em 0 0 0;

                @include media (small-screen) {
                    width: 50px;
                }

                @include media (mobile, mobile-s) {
                    width: 30px;
                }
            }

            .zyText {
                width: 320px;

                @include media (small-screen) {
                    width: 280px;
                }

                @include media (mobile, mobile-s) {
                    width: 200px;
                }
            }

            .footerTagline {
                text-align: left;
                font: normal normal normal 16px $segoe-font;
                color: $white;
                opacity: 1;
                margin-top: .3em;

                @include media (small-screen) {
                    font: normal normal normal 14px $segoe-font;
                    margin-top: 0px;
                }

                @include media (mobile, mobile-s) {
                    margin-top: 1px;
                    font: normal normal normal 12px $segoe-font;
                }
            }
        }

        .rightFooter {
            display: flex;
            gap: 8em;

            @include media (medium-screen) {
                gap: 3em;
            }

            @include media (small-screen) {
                gap: 2em;
            }

            @include media (tablet) {
                gap: unset;
                justify-content: space-between;
            }

            @include media (phablet, mobile, mobile-s) {
                gap: unset;
                flex-direction: column;
            }

            .mobileTwoBlocks {
                display: flex;
                gap: 8em;

                @include media (medium-screen) {
                    gap: 3em;
                }
    
                @include media (small-screen) {
                    gap: 2em;
                }
    
                @include media (tablet) {
                    gap: unset;
                    width: 45vw;
                    justify-content: space-between;
                }

                @include media (phablet, mobile, mobile-s) {
                    gap: unset;
                    justify-content: space-between;
                }
            }

            .footerHeader {
                text-align: left;
                font: normal normal bold 20px $segoe-font;
                color: $header-color;
                margin: .5em 0 0 0;

                @include media (small-screen) {
                    font: normal normal bold 16px $segoe-font;
                    margin: .5em 0 0 0;
                }

                @include media (phablet) {
                    font: normal normal bold 16px $segoe-font;
                }

                @include media (mobile, mobile-s) {
                    font: normal normal bold 15px $segoe-font;
                }
            }

            .footerList {
                padding-top: 0px;
            }

            .footerItem {
                padding-top: .7em;
                white-space: normal;
            }

            .servicesCont {
                text-align: left;
                font: normal normal normal 16px $segoe-font;
                color: $header-color;

                @include media (medium-screen) {
                    width: 200px;
                }

                @include media (small-screen) {
                    font: normal normal normal 12px $segoe-font;
                    width: 150px;
                }

                @include media (tablet) {
                    width: 200px;
                }

                @include media (phablet) {
                    font: normal normal normal 14px $segoe-font;
                    width: 200px;
                }

                @include media (mobile, mobile-s) {
                    font: normal normal bold 13px $segoe-font;
                    width: 200px;
                }
            }

            .skillsCont {
                text-align: left;
                font: normal normal normal 16px $segoe-font;
                color: $header-color;

                @include media (small-screen) {
                    font: normal normal normal 12px $segoe-font;
                }

                @include media (phablet) {
                    font: normal normal normal 14px $segoe-font;
                }

                @include media (mobile, mobile-s) {
                    font: normal normal bold 13px $segoe-font;
                }
            }

            .contactCont {
                text-align: left;
                font: normal normal normal 16px $segoe-font;
                color: $header-color;
                width: 300px;
                margin-right: 3em;

                @include media (medium-screen) {
                    margin-right: 0px;
                }

                @include media (small-screen) {
                    font: normal normal normal 12px $segoe-font;
                    width: 250px;
                    margin-right: 0px;
                }

                @include media (tablet) {
                    margin-right: 0px;
                    width: 250px;
                }

                @include media (phablet) {
                    margin: 1em 0 0 0;
                    font: normal normal normal 14px $segoe-font;
                }

                @include media (mobile, mobile-s) {
                    margin: 1em 0 0 0;
                    font: normal normal bold 13px $segoe-font;
                }

                .phoneIcon {
                    >i {
                        transform: rotate(90deg);
                        padding: 0.28571429em 0 0 0 !important;
                    }
                }
            }

        }
    }
}