.landingPage {
  width: 100vw;
  height: 100%;
  position: relative;
  background-color: $background-color;
  padding-bottom: 3vh;

  @include media (tablet, phablet, mobile, mobile-s) {
    height: 100%;
  }

  .mainBackgroundTexture {
    position: fixed;
    width: 1920px;
    height: 1080px;
    background-color: $background-color;
    z-index: 1;
    top: 0;
  }

  .logoContainer {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vw;
    height: 1080px;

    @include media (tablet, phablet, mobile, mobile-s) {
      height: unset;
      left: unset;
      top: unset;
      transform: unset;
    }

    img {
      width: 100%;
      height: 100%;
    }
  
  }

  .landingContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      height: 100%;
    }

    .landingHeader {
      position: absolute;
      top: 266px;
      left: 171px;
      height: 184px;

      @include media (tablet, phablet) {
        width: 100%;
        left: unset;
        display: flex;
        justify-content: center;
      }

      @include media (mobile, mobile-s) {
        top: 180px;
        width: 100%;
        left: unset;
        display: flex;
        justify-content: center;
      }

      h1 {
        font: normal normal bold 80px/78px $segoe-font;
        letter-spacing: 0px;
        color: $header-color;
        opacity: 1;
        width: 700px;

        @include phablet {
          font: normal normal bold 48px $segoe-font;
          width: 390px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          font: normal normal bold 40px $segoe-font;
        }
      }

      span {
        letter-spacing: 0px;
        color: $accent-text-color;
        opacity: 1;
      }
    }

    .landingSubheader {
      position: absolute;
      top: 477px;
      left: 171px;
      height: 113px;
      overflow-wrap: break-word;

      @include media (tablet, phablet) {
        width: 100%;
        left: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include media (mobile, mobile-s) {
        width: 100%;
        left: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 330px;
      }

      h4 {
        font: normal normal normal 16px/20px $segoe-font;
        letter-spacing: 0.16px;
        color: $header-color;
        opacity: 1;
        inline-size: 700px;

        @include phablet {
          font: normal normal bold 13px $segoe-font;
          inline-size: 390px;
        }

        @include media (mobile, mobile-s) {
          inline-size: 90vw;
          font: normal normal bold 12px $segoe-font;
        }
      }

      .landingLearnMoreWrapper {
        float: right;

        @include tablet {
          float: unset;
          display: flex;
          width: 700px;
          justify-content: flex-end;
        }

        @include phablet {
          float: unset;
          display: flex;
          width: 390px;
          justify-content: flex-end;
        }

        @include media (mobile, mobile-s) {
          float: unset;
          display: flex;
          width: 90vw;
          justify-content: flex-end;
        }

        .landingLearnMore {
          display: flex;
          align-items: center;
          gap: 1em;

          @include media (phablet, mobile, mobile-s) {
            gap: .5em;
          }

          h5 {
            width: 100px;
            /* UI Properties */
            text-align: left;
            font: normal normal normal 16px/27px $general-font;
            letter-spacing: 0px;
            color: $header-color;
            opacity: 1;
            margin: 0;

            @include media (phablet, mobile, mobile-s) {
              width: 70px;
              font: normal normal normal 14px $general-font;
            }
          }

          .landingArrowContainer {
            width: 39px;
            height: 39px;
            /* UI Properties */
            opacity: 1;

            @include media (phablet, mobile, mobile-s) {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .gridContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      position: absolute;
      bottom: 15px;

      @include media (tablet, phablet, mobile, mobile-s) {
        flex-direction: column;
        align-items: center;
        position: unset;
        padding-top: 730px;
        gap: 2em;
      }

      @include media (mobile, mobile-s) {
        flex-direction: column;
        align-items: center;
        position: unset;
        padding-top: 580px;
        gap: 2em;
      }

      .servicesBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include media (tablet, phablet) {
          width: 90vw;
          height: 140px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          height: 144px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .servicesIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .aboutUsBoxItem {
        width: 305px;
        height: 184px;
        /* UI Properties */
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include media (tablet, phablet) {
          width: 90vw;
          height: 140px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          height: 144px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          padding-left: 34px;
          padding-top: 18px;
          opacity: 1;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .aboutUsIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .projectsBoxItem {
        width: 305px;
        height: 184px;
        /* UI Properties */
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include media (tablet, phablet) {
          width: 90vw;
          height: 140px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          height: 144px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .projectsIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .accomplismentBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include media (tablet, phablet) {
          width: 90vw;
          height: 140px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          height: 144px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .accomplismentIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .contactBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include media (tablet, phablet) {
          width: 90vw;
          height: 140px;
        }

        @include media (mobile, mobile-s) {
          width: 90vw;
          height: 144px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          font-weight: 100;
          text-transform: uppercase;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .contactIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }
    }

  }
}