.landingPage {
  width: 100vw;
  height: 100vh;

  @include tablet {
    height: 100%;
  }

  .landingBody {
    background-color: $background-color;
    position: absolute;
    overflow: hidden;

    @include tablet {
      height: 100%;
    }
  }

  .logoContainer {
    width: 100vw;
    height: 100vh;

    @include tablet {
      height: 100%;
    }
  
  }

  .landingContainer {
    width: 100vw;
    height: 100vh;
    position: relative;

    @include tablet {
      height: 100%;
    }  

    .landingHeader {
      position: absolute;
      top: 266px;
      left: 171px;
      height: 184px;

      @include tablet {
        width: 100%;
        left: unset;
        display: flex;
        justify-content: center;
      }  

      h1 {
        font: normal normal bold 80px/78px $segoe-font;
        letter-spacing: 0px;
        color: $header-color;
        opacity: 1;
        width: 700px;
      }

      span {
        font: normal normal bold 80px/78px $segoe-font;
        letter-spacing: 0px;
        color: $accent-text-color;
        opacity: 1;

      }
    }

    .landingSubheader {
      position: absolute;
      top: 477px;
      left: 171px;
      height: 113px;
      overflow-wrap: break-word;
      
      @include tablet {
        width: 100%;
        left: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }  

      h4 {
        font: normal normal normal 16px/20px $segoe-font;
        letter-spacing: 0.16px;
        color: $header-color;
        opacity: 1;
        inline-size: 700px;

      }

      .landingLearnMoreWrapper {
        float: right;

        @include tablet {
          float: unset;
          display: flex;
          width: 700px;
          justify-content: flex-end;
        }  

        .landingLearnMore {
          display: flex;
          align-items: center;
          gap: 1em;

          h5 {
            width: 100px;
            /* UI Properties */
            text-align: left;
            font: normal normal normal 16px/27px $general-font;
            letter-spacing: 0px;
            color: $header-color;
            opacity: 1;
            margin: 0;

          }

          .landingArrowContainer {
            width: 39px;
            height: 39px;
            /* UI Properties */
            opacity: 1;
          }
        }
      }
    }

    .gridContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      position: absolute;
      bottom: 15px;

      @include tablet {
        flex-direction: column;
        align-items: center;
        position: unset;
        padding-top: 680px;
        gap: 2em;
      }

      .servicesBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }
        
        @include tablet {
          width: 384px;
          height: 184px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .servicesIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .aboutUsBoxItem {
        width: 305px;
        height: 184px;
        /* UI Properties */
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include tablet {
          width: 384px;
          height: 184px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          padding-left: 34px;
          padding-top: 18px;
          opacity: 1;
          
          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .aboutUsIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .projectsBoxItem {
        width: 305px;
        height: 184px;
        /* UI Properties */
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include tablet {
          width: 384px;
          height: 184px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .projectsIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .accomplismentBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }

        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include tablet {
          width: 384px;
          height: 184px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .accomplismentIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }

      .contactBoxItem {
        width: 305px;
        height: 184px;
        background: rgb(98, 98, 98);
        background: rgba(98, 98, 98, 0.28) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: relative;

        @include medium-screen {
          width: 215px;
          height: 144px;
        }
        
        @include small-screen {
          width: 180px;
          height: 124px;
        }

        @include tablet {
          width: 384px;
          height: 184px;
        }

        h1 {
          font-family: $general-font;
          font-size: 26px/39px;
          font-weight: 100;
          text-transform: uppercase;
          letter-spacing: 0px;
          color: $white;
          opacity: 1;
          padding-left: 34px;
          padding-top: 18px;

          @include medium-screen {
            font-size: 22px;
          }

          @include small-screen {
            padding-left: 20px;
            font-size: 18px;
          }
        }

        .contactIconWrapper {
          position: absolute;
          bottom: 15px;
          right: 30px;
          opacity: 1;
        }
      }
    }

  }
}

