.NewContactUsContainer {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: $bodyimage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: $background-color;
  padding-bottom: 2em;

  @include media(tablet, phablet, mobile){
    min-height: 100vh;
    height: unset;
  }

  .ContactUsLabelContainer {
    display: flex;
    justify-content: center;
    font-size: clamp(30px, 1.5625vw, 1.5625vw);
    font-family: $general-font;
    padding-top: 3.71em;

    // @include medium-screen {
    //   margin-top: 4.6em;
    // }

    .ContactLabel {
      color: $header-color;
    }

    .UsLabel {
      color: $accent-text-color;
      padding-left: 0.5%;
    }
  }

  .DetailsContainer {
    margin: 5vh;
    display: flex;
    justify-content: center;
    .DetailsBackground {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 0.5208vw;
      margin: 2.6528vh;
      height: 68.43796vh;
      width: 60.8609vw;
      background: $glass;
      backdrop-filter: $backdrop-filter;
      -webkit-backdrop-filter: $backdrop-filter;
      box-shadow: $frosted-shadow;
      border: none;

      @include medium-screen {
        margin-top: 0;
      }

      @include small-screen {
        width: 70vw;
      }

      @include tablet {
        width: 90vw;
      }

      .WeWantLabel {
        color: $header-color;
        font-size: 35px;
        margin: clamp(5px, 3.8648vh, 3.8648vh);
        font-family: $segoe-font-bold;
        line-height: 4.9074vh;

        @include media(mobile, phablet) {
          font-size: 28px;
          text-align: center;
        }
      }
      .DetailColContainer {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        padding: 10px;
        .DetailCol1 {

          @include tablet {
            width: 50vw;
          }

          @include media(mobile, phablet) {
            width: 60vw;
          }


          .TellUsLabel {
            color: $header-color;
            font-size: 24px;
            margin-top: clamp(5px, 4vh, 4vh);
            margin-bottom: clamp(20px, 2.5926vh, 2.5926vh);
            font-family: $segoe-font;

            @include media(tablet, phablet, mobile) {
              font-size: 20px;
              text-align: center;
              line-height: normal;
            }
          }
          .NameLabel {
            color: $header-color;
            font-size: clamp(16px, 0.8333vw, 0.8333vw);
            font-family: $segoe-font;
            line-height: 1.94444vh;
            margin-bottom: clamp(5px, 1vh, 1vh);
            margin-top: clamp(5px, 1vh, 1vh);
          }
          .NameInput {
            width: 21.71875vw;
            height: clamp(41.32px, 3.7963vh, 3.7963vh);
            background-color: $background-color;
            color: $header-color;
            border-radius: clamp(10px, 0.5208vw, 0.5208vw);
            border: 0.05208vw solid $glassborder;
          }
          .EmailLabel {
            color: $header-color;
            font-size: clamp(16px, 0.8333vw, 0.8333vw);
            margin-top: clamp(5px, 1.57037vh, 1.57037vh);
            margin-bottom: clamp(5px, 1vh, 1vh);
            font-family: $segoe-font;
            line-height: 1.94444vh;
          }
          .EmailInput {
            width: 21.71875vw;
            height: clamp(41.32px, 3.7963vh, 3.7963vh);
            background-color: $background-color;
            color: $header-color;
            border-radius: clamp(10px, 0.5208vw, 0.5208vw);
            border: 0.05208vw solid $glassborder;
          }
          .MessageLabel {
            font-family: $segoe-font;
            color: $header-color;
            font-size: clamp(16px, 0.8333vw, 0.8333vw);
            margin-top: clamp(5px, 1.57037vh, 1.57037vh);
            margin-bottom: clamp(5px, 1vh, 1vh);
            line-height: 1.94444vh;
          }
          .MessageTextarea {
            width: 21.6698vw;
            height: clamp(41.32px, 19.46296vh, 19.46296vh);
            background-color: $background-color;
            border-radius: clamp(10px, 0.5208vw, 0.5208vw);
            color: $header-color;
            margin-bottom: 8.45833vh;
            resize: none;
          }
        }
        .DetailCol2 {
          @include media(tablet, mobile, phablet) {
            padding-bottom: 40px;
          }

          .ImageContainer {
            position: relative;
            top: -4%;
            width: 28.125vw;
            height: clamp(200px, 41.574vh, 41.574vh);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .SubmitButton {
            cursor: pointer;
            background-color: $button-color;
            border-radius: clamp(10px, 0.5208vw, 0.5208vw);
            width: clamp(191px, 9.9479vw, 9.9479vw);
            height: clamp(61px, 5.6481vh, 5.6481vh);
            color: $header-color;
            font-size: 16px;
            border: none;
            margin-top: 2vh;
            margin-left: 16vw;
            font-family: $segoe-font;
            line-height: 3.14815vh;
          }
        }
      }
    }
  }
  .RedCircleContainer {
    z-index: -1;
    position: absolute;
    bottom: -50%;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .DetailsContainer {
    .DetailsBackground {
      margin: 0 !important;
      height: 100% !important;
      width: 100% !important;

      .DetailColContainer {
        flex-direction: column;
        align-items: center;
        .DetailCol1 {

          .TellUsLabel {
            margin-top: 2vh !important;
          }
          .NameInput {
            width: 100% !important;
          }
          .EmailInput {
            width: 100% !important;
          }
          .MessageTextarea {
            width: 100% !important;
            margin-bottom: 0 !important;
          }
        }
        .DetailCol2 {
          .ImageContainer {
            display: none !important;
            img {
              display: none !important;
            }
          }
          .SubmitButton {
            margin-left: 0 !important;
            font-size: 18px;
          }
        }
      }
    }
  }
}
