// .ProductsAndServicesContainer {
//   padding-bottom: 27.5926vh;
//   background-color: $background-color;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-left: 4.84375vw;
//   padding-right: 4.84375vw;
//   .ProductsAndServicesLabel {
//     color: $header-color;
//     font-size: clamp(30px, 1.5625vw, 1.5625vw);
//     word-spacing: 0.5vw;
//     margin-top: 13.3333vh;
//     align-self: flex-start;
//     margin-bottom: 5.7407407vh;
//     font-family: $general-font;

//     .RedWord {
//       color: $accent-text-color;
//     }
//   }
//   .GlassContainer {
//     height: 100% !important;
//     display: flex;
//     .GlassBox {
//       width: 27.571875vw;
//       height: clamp(86px, 7.95037vh, 7.95037vh);
//       background: $glassbackground;
//       backdrop-filter: $backdrop-filter;
//       -webkit-backdrop-filter: $backdrop-filter;
//       border-radius: 10px;
//       border: $glassborder;
//       color: $header-color;
//       font-family: $general-font;
//       font-size: clamp(20px, 1.3541667vw, 1.3541667vw);
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding-left: 1.7708333vw;
//       margin-top: 3.7074074vh;
//       margin-right: 2.6177083vw;
//       line-height: 2.5vh;
//       padding-right: 1.0417vw;
//       img {
//         width: clamp(50px, 4vw, 4vw);
//         height: clamp(50px, 4vh, 4vh);
//       }
//     }
//   }
// }

@media only screen and (max-width: 899px) {
  .ProductsAndServicesContainer {
    .ProductsAndServicesLabel {
      align-self: center !important;
    }
    .GlassContainer {
      flex-direction: column !important;
      width: 80% !important;
      .GlassBox {
        width: 100% !important;
        justify-content: space-between !important;
      }
    }
  }
}
