.projectsPage {
  z-index: 1;
  position: relative;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding-bottom: 27.963vh;

  .projectsLabel {
    margin: 11.5741vh 0 8.9815vh 0 !important;
    color: $header-color;
    font-size: clamp(45px, 2.34375vw, 2.34375vw) !important;
    line-height: 4.3519vh !important;
    font-family: $general-font;

    @include media (tablet, phablet, mobile, mobile-s) {
      margin-bottom: 93px;
    }
  }

  .glassContainer {
    width: 35.3541667vw;
    height: 9.25925926vh;
    background: $glasscolor;
    backdrop-filter: $backdrop-filter;
    -webkit-backdrop-filter: $backdrop-filter;
    border-radius: 10px;
    border: $glassborder;
    margin-top: 2.962963vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media (tablet, phablet, mobile, mobile-s) {
      width: 90vw;
      height: 100px;
      margin-top: 30px;
    }

    img {
      margin-right: 1.5625vw;
      width: clamp(50px, 4vw, 4vw);
      height: clamp(50px, 4vw, 4vw);
    }
  }

  .projectLabel {
    color: $header-color;
    font-size: clamp(20px, 1.3541667vw, 1.3541667vw);
    margin-top: 3.42592593vh;
    margin-bottom: 3.42592593vh;
    line-height: 2.5vh;
    font-family: $general-font;
  }

  .redLine {
    position: absolute;
    left: 97%;
    background-color: $accent-text-color;
    border-radius: 100px;
    width: 0.3vw;
    opacity: 0;

    @include media (tablet, phablet, mobile, mobile-s) {
      left: 98.5% !important;
      width: 0.5vw !important;
    }
  }

  .circleContainer {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 86.77083333vw;
    height: 154.25925926vh;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .projectHomeCarouselContainer {
    opacity: 0;
    position: absolute;
    width: 60.8182vw;
    background: $glasscolor;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    top: 31%;
    right: 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2em;
    gap: 1em;

    .inner {
      white-space: nowrap;
      transition: transform 0.3s;
    }

    .carouselItem {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: clamp(100px, 40.25925926vh, 40.25925926vh);
      width: 100%;
    }

    .carouselDiv1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .carouselImage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      padding: 40px 5px 40px 35px;
    }

    .carouselImage > img {
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }

    .carouselText {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 100%;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    .carouselProjName {
      white-space: normal;
      line-height: 5vh;
      color: $white;
      font-size: 41px;
      width: 100%;
      font-family: $segoe-font;
      letter-spacing: -0.06406vw;
      padding-right: 3.5625vw;
      margin-bottom: 1em;
    }

    .carouselProjDetails {
      white-space: normal;
      color: $white;
      font-size: 16px;
      width: 100%;
      font-family: $segoe-font;
      letter-spacing: -0.025vw;
      line-height: 1.9444vh;
      padding-right: 3.5625vw;
      margin-bottom: 1em;
    }

    .carouselProjCountry {
      white-space: normal;
      color: $white;
      font-size: 18px;
      width: 100%;
      font-family: $segoe-font;
      letter-spacing: -0.025vw;
      line-height: 1.9444vh;
      margin-top: 0.5111vh;
    }

    .carouselProjPlatform {
      white-space: normal;
      color: $white;
      font-size: 18px;
      width: 100%;
      font-family: $segoe-font;
      letter-spacing: -0.025vw;
      line-height: 1.9444vh;
      margin-top: 0.5111vh;
    }

    .carouselProjCountry > span {
      margin-left: 5.3271vw;
    }
    .carouselProjPlatform > span {
      margin-left: 4.84375vw;
    }

    .carouselButtons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .indicators {
      display: flex;
      align-items: center;
    }

    .indicators > button {
      margin: 2px;
      background: none;
      border: none;
    }

    .indicatorActive {
      accent-color: black;
      cursor: pointer;
    }
  }

  .projectCarousel {
    display: none;
    width: 86.78vw;
    height: 100%;
    background: $glasscolor;
    backdrop-filter: $backdrop-filter;
    -webkit-backdrop-filter: $backdrop-filter;
    border-radius: 10px;
    margin-top: clamp(33px, 2.962963vh, 2.962963vh);

    @include media (tablet, phablet, mobile, mobile-s) {
      display: block;
    }

    .arrowNextMobileButton {
      width: 5vw;
      height: 5vw;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      opacity: 0.8;
      cursor: pointer;
    }

    .arrowPrevMobileButton {
      z-index: 9999;
      width: 5vw;
      height: 5vw;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      opacity: 0.8;
      cursor: pointer;
    }

    .slideContainer {
      padding-left: 6.96vw;
      padding-right: 6.96vw;
      display: flex;
      flex-direction: column;
      text-align: left;

      .imageContainer {
        margin-top: 2.94vh;
        width: 100%;
        height: 20.04vh;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .mobileProjectLabel {
        color: $white;
        font-family: $segoe-font;
        font-size: 34px;
        line-height: 6vh;
        letter-spacing: -0.25vw;
        margin-bottom: 1.64vh;
      }

      .mobileProjectDetail {
        color: $white;
        font-size: 16px;
        line-height: 4vh;
        letter-spacing: 0.03vw;
        font-family: $segoe-font;
      }

      .mobileProjectCountry {
        color: $white;
        font-size: 16px;
        letter-spacing: -0.12vw;
        line-height: 3vh;
        margin-top: 6vh;
      }

      .mobileProjectType {
        color: $white;
        font-size: 16px;
        letter-spacing: -0.12vw;
        line-height: 3vh;
        margin-top: 0.62vh;
        margin-bottom: 5vh;
      }

      .mobileProjectCountry > span {
        margin-left: 21.8vw;
      }

      .mobileProjectType > span {
        margin-left: 20.52vw;
      }
    }
  }

  .divCon {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
