.servicesPage {
  position: relative;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding-bottom: 22.03704vh;

  @include media (mobile, mobile-s) {
    padding-bottom: 0px;
  }

  .ourServicesLabel {
    margin: 11.5741vh 0 8.9815vh 0 !important;
    color: $header-color;
    font-size: clamp(45px, 2.34375vw, 2.34375vw) !important;
    line-height: 4.3519vh !important;
    font-family: $general-font;
    z-index: 2;

    @include media (tablet, phablet) {
      margin-bottom: 93px !important;
    }

    @include media (mobile, mobile-s) {
      font-size: 40px !important;
      margin-bottom: 93px !important;
    }
  }

  .glassContainer {
    z-index: 3;
    position: relative;
    margin-left: 35vw;
    width: 100% !important;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @include media (tablet, phablet, mobile, mobile-s) {
      height: 100% !important;
      margin-left: 0;
      align-items: center;
    }

    .glassBox {
      margin-bottom: 2.96296vh;
      width: 55.875vw;
      height: 9.2593vh;
      display: flex;
      align-items: center;
      background: $glassbackground;
      backdrop-filter: blur(2.60417vw);
      -webkit-backdrop-filter: blur(2.60417vw);
      border-radius: 0.52083vw;
      border: $glassborder;
      cursor: pointer;

      @include media (tablet, phablet, mobile, mobile-s) {
        margin-bottom: 32px;
        height: 100px;
        width: 90%;
        pointer-events: none;
        justify-content: center;
        transform: none !important;
      }

      .whiteWord {
        font-family: $general-font;
        color: $header-color;
        font-size: 1.5625vw;
        line-height: 2.963vh;
        margin-left: 2.4479vw;

        @include media (tablet, phablet, mobile, mobile-s) {
          font-size: 20px;
        }
      }

      .redWord {
        color: $accent-text-color;
      }

      .redLine {
        position: absolute;
        left: 1.4%;
        background-color: $accent-text-color;
        border-radius: 100px;
        width: 0.3vw;
        opacity: 0;

        @include media (tablet, phablet, mobile, mobile-s) {
          display: none;
        }
      }
    }
  }

  .redCircleContainer {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8%;
    left: 38.22917vw;
    width: 23.59375vw;
    height: 41.94444vh;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;

      @include media (tablet, phablet, mobile, mobile-s) {
        display: none;
      }
    }
  }

  .dotsContainer {
    position: absolute;
    left: 0;
    margin-left: 3.33333vw;
    margin-top: 11.5741vh;
    height: 41.5625vw;
    width: 42.59259vh;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;

      @include media (tablet, phablet, mobile, mobile-s) {
        display: none;
      }
    }
  }

  .outerCircle {
    width: 27.13542vw;
    height: 49.24074vh;
    border: 3.125vw solid #1a1a1a;
    border-radius: 15.625vw;
    position: absolute;
    margin-top: 25.46296vh;
    left: -14%;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }
  }

  .innerCircle {
    width: 16.27604vw;
    height: 28.98148vh;
    background-color: #1a1a1a;
    border-radius: 15.625vw;
    position: absolute;
    top: 34.16667vh;
    left: -8%;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }
  }

  .mobileImageContainer {
    position: absolute;
    top: 27.74074vh;
    width: 25.54167vw;
    height: 45.90741vh;
    left: 15.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;

      @include media (tablet, phablet, mobile, mobile-s) {
        display: none;
      }
    }
  }

  .firstCounter {
    position: absolute;
    top: 43.95278vh;
    left: 0.5%;
    color: $header-color;
    font-family: $general-font;
    font-size: 1.5625vw;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }
  }

  .secondCounter {
    position: absolute;
    top: 54.80093vh;
    left: 0.5%;
    color: $header-color;
    font-family: $general-font;
    font-size: 1.5625vw;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }
  }

  .redNumber {
    color: $accent-text-color;
    z-index: 2;
  }

  .counterLine {
    position: absolute;
    top: 48.5vh;
    left: 1.4%;
    background-color: $header-color;
    width: 0.05208vw;
    height: 40px;
    z-index: 2;

    @include media (tablet, phablet, mobile, mobile-s) {
      display: none;
    }
  }
}