.techStackContPage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-color 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 500px;

    .rightImg {
        position: absolute;
        right: -2.6vw;
        top: 4.63vh;
        height: 60.37vh;
        width: 17.14vw;
        z-index: 1;
    } 

    .bottomImg {
        position: absolute;
        height: 450px;
        width: 900px;
        left: 0;
        bottom: 0;
        transform: translate(-20%, 0%);
        z-index: 1;
    }

    .header {
        text-transform: uppercase !important;
        margin: 11.5741vh 0 8.9815vh 0 !important;
        color: $header-color;
        font-size: clamp(45px, 2.34375vw, 2.34375vw) !important;
        line-height: 4.3519vh !important;
        font-family: $general-font;
        z-index: 2;
    }

    .techBackground {
        background: $frosted-bg;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;
        box-shadow: $frosted-shadow;
        border-radius: 0.52vw;
        z-index: 2;
        padding: 5em 0 5em 7em;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        top: 23.5vh;
        left: 24vw;
        z-index: 2;
    }

    .listItem {
        font: normal normal normal 1.56vw/2.34vw $general-font !important;
        letter-spacing: 0.078vw !important;
        color: #B7B7B7 !important;
        text-transform: uppercase !important;
        padding-right: 4em !important;
        z-index: 2;
    }
}