.techStackContPage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-color 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 500px;

    .rightImg {
        position: absolute;
        right: 0;
        top: 50%;
        height: 652px;
        width: 332px;
        z-index: 1;
        transform: translate(0%, -90%);
    }

    .bottomImg {
        position: absolute;
        height: 450px;
        width: 900px;
        left: 0;
        bottom: 0;
        transform: translate(-20%, 0%);
        z-index: 1;
    }

    .header {
        text-transform: uppercase !important;
        margin: 11.5741vh 0 8.9815vh 0 !important;
        color: $header-color;
        font-size: clamp(45px, 2.34375vw, 2.34375vw) !important;
        line-height: 4.3519vh !important;
        font-family: $general-font;
        z-index: 2;

        @include media (tablet, phablet) {
            margin-bottom: 93px !important;
        }

        @include media (mobile, mobile-s) {
            font-size: 40px !important;
            margin-bottom: 93px !important;
        }
    }

    .techBackground {
        background: $frosted-bg;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;
        box-shadow: $frosted-shadow;
        border-radius: 0.52vw;
        z-index: 2;
        padding: 5em 0 5em 7em;

        @include media (medium-screen, small-screen) {
            padding: 5em 0 5em 5em;
        }

        @include media (tablet) {
            padding: 4em 0 4em 4em;
        }

        @include media (phablet) {
            font-size: 20px !important;
            padding: 3em 0 3em 3em;
        }

        @include media (mobile, mobile-s) {
            font-size: 20px !important;
            padding: 1.5em 0 1.5em 1.5em;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        z-index: 2;
        
        @include media (tablet) {
            grid-template-columns: repeat(3, auto);
        }

        @include media (phablet, mobile, mobile-s) {
            grid-template-columns: repeat(2, auto);
        }
    }

    .listItem {
        font: normal normal normal 1.56vw/2.34vw $general-font !important;
        letter-spacing: 1px !important;
        color: #B7B7B7 !important;
        text-transform: uppercase !important;
        padding: .21428571em 4em .21428571em 0 !important;
        z-index: 2;

        @include media (small-screen) {
            font-size: 20px !important;
        }

        @include media (tablet) {
            font-size: 20px !important;
            padding: .5em 4em .5em 0 !important;
        }

        @include media (phablet) {
            font-size: 20px !important;
            padding: .8em 4em .8em 0 !important;
        }

        @include media (mobile, mobile-s) {
            font-size: 20px !important;
            padding: .8em 1.8em .8em 0 !important;
        }
    }
}