@font-face {
    font-family: 'Oswald-Regular, Black';
    src: url("/static/fonts/Oswald-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Oswald-Bold, Black';
    src: url("/static/fonts/Oswald-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Oswald-ExtraLight, Black';
    src: url("/static/fonts/Oswald-ExtraLight.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Oswald-Light, Black';
    src: url("/static/fonts/Oswald-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Oswald-Medium, Black';
    src: url("/static/fonts/Oswald-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Oswald-SemiBold, Black';
    src: url("/static/fonts/Oswald-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI, Black';
    src: url("/static/fonts/Segoe UI.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Bold, Black';
    src: url("/static/fonts/Segoe UI Bold.ttf") format('truetype');
    font-display: swap;
}
