// about us page
$backgroundColor2: #626262;
$backgroundColor3: #ffffff73;

//contact us
$bodyimage: url("/NewContactUs/NewContactUsBG.png");
$glass: linear-gradient(135deg, rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05));
$bordercolor: #cccccc67;


//proj page
$glasscolor: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
$glassborder: 0.05208vw solid rgba(204, 204, 204, 0.4);

//services
$glassbackground: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

//products and services
$glassborder: 2px solid rgba(98, 98, 98, 0.1);

// ----------------------------- general
$general-font: "Oswald-Regular, Black", sans-serif;
$background-color: #101010;
$header-color: #cccccc;
$accent-text-color: #D13E3E;
$button-color: #711515;
$white: #ffffff;
$segoe-font: 'Segoe UI, Black';
$segoe-font-bold: 'Segoe UI Bold, Black';
$frosted-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
$backdrop-filter: blur(2.60vw);
$frosted-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
