.mainCard {
  height: 800px !important;
  width: 600px !important;
  border-radius: 25px !important;
  background-color: #030445 !important;
  margin-top: 0px !important;
  box-shadow: none !important;
  padding: 40px !important;
  
  @media (max-width: 1430px) {
    width: 400px !important;
  }

  @media (max-width: 1276px) {
    width: 350px !important;
  }

  @media (max-width: 1020px) {
    width: 100% !important;
    height: 400px !important;
  }

  @media (max-width: 600px) {
    padding: 20px !important;
    height: 550px !important;
  }
}

.mainCard:hover {
  transform: none !important;
}

.paddedCard {
  padding: 170px 40px 40px 40px !important;
}


.secondCard {
    height: 800px !important;
    width: 350px !important;
    border-radius: 25px !important;
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
    padding: 45px 20px 40px 10px !important;
    overflow: hidden !important;

    @media (max-width: 1430px) {
      width: 350px !important;
    }

    @media (max-width: 1276px) {
      padding: 50px 20px 40px 10px !important;
      width: 350px !important;
    }

    @media (max-width: 1020px) {
      width: 100% !important;
      height: 500px !important;
      padding: 50px !important;
    }

    @media (max-width: 767px) {
      height: 500px !important;
   
    }

    @media (max-width: 600px) {
      height: 600px !important;
    }

    @media (max-width: 500px) {
      padding: 20px !important;
      height: 700px !important;
    }
}

.secondCard:hover {
  transform: none !important;
}

.thirdCard {
    height: 800px !important;
    width: 400px !important;
    border-radius: 25px !important;
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
    padding: 45px 20px 40px 10px !important;
    overflow: hidden !important;

    @media (max-width: 1430px) {
      width: 350px !important;
    }

    @media (max-width: 1276px) {
      width: 350px !important;
    }

    @media (max-width: 1020px) {
      width: 100% !important;
      height: 400px !important;
      padding: 50px !important;
    }
}

.clientName {
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 2.6rem !important;
  margin-top: 40px !important;
  font-weight: 800 !important;
  line-height: 3rem !important;
  margin-bottom: 30px !important;

  @media (max-width: 1276px) {
    font-size: 2.2rem !important;
  }
  
  @media (max-width: 1020px) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  @media (max-width: 600px) {
    font-size: 2rem !important;
  }
}

.description {
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 300;
  padding-right: 35% !important;
  line-height: 1.6rem;

  @media (max-width: 1276px) {
    font-size: 1rem !important;
    padding-right: 0 !important;
  }

  @media (max-width: 1020px) {
    padding-right: 0px !important;
    padding-top: 30px !important;
  }
}

.serviceDescription {
  color: #2d2c2c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 8px;

  @media (max-width: 1276px) {
  font-size: 1rem !important;
  }
}

.icon {
  font-size: 2.6rem !important;

  @media (max-width: 1276px) {
    font-size: 2rem !important;
  }

  @media (max-width: 1020px) {
   font-size: 2rem !important;
  }
}

.servicesIcon {
  font-size: 2.6rem !important;
  color: #c7ae76 !important;
  margin-right: 15px !important;
  text-align: left !important;
}

.secondCardHeader {
  color: #2d2c2c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 2rem !important;
  font-weight: 800 !important;

  @media (max-width: 1276px) {
    font-size: 1.8rem !important;
    text-align: center;
  }
}

.thirdCardHeader {
  color: #2d2c2c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.8rem !important;
  font-weight: 800 !important;
}


.thirdCardHeader2 {
  color: #b7b7b7 !important;
}

.serviceContainer {
  margin-top: 50px !important;
  margin-bottom: 30px !important;

  @media (max-width: 1276px) {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
  }
}

.serviceHeader {
  color: #2d2c2c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: 700 !important;

  @media (max-width: 1276px) {
    font-size: 1.3rem !important;
  }
}

.phoneImageContainer {
  position: absolute;
  left: 25%;
  top: 38%;

  @media (max-width: 1020px) {
    left: 65%;
    top: 8%;
  }

  @media (max-width: 600px) {
    left: 75%;
    top: 50%;
  }

  @media (max-width: 500px) {
    left: 75%;
    top: 70%;
  }
}

.goldIcon {
  color: #c7ae76 !important;
}

.greenIcon {
  color: #3ebd5d !important;
}

.orangeIcon {
  color: #f16627 !important;
}

.cyanIcon {
  color: #00baff !important;
}

.redIcon {
  color: #c52402 !important;
}

.blueIcon {
  color: #020066 !important;
}

.maroonIcon {
  color: #841700 !important;
}

.darkGreenIcon {
  color: #71a33b !important;
}

.maginLogo {
  margin-top: 50px !important;
}

.cardContent {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 10px;

  @media (max-width: 1020px) {
    flex-direction: row !important;
    align-items: center !important;
  }


  @media (max-width: 500px) {
    flex-direction: column !important;
  }
}

.clientDetails {
  display: flex !important;
  flex-direction: column;

  @media (max-width: 1020px) {
    width: 100% !important;
   flex-direction: column !important;
  }
}

.secondCardContent {
  display: flex !important;
  flex-direction: column !important;
}
