.footerContainer {
    padding: 0 !important;
    margin: 30% 0 0 0  !important; 
    background: url("../assets/FooterImage.png") !important;
    height: 200px !important;
  }
  
  .footerImage {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
  }