.navItem{
  gap: 20px !important;
}

.ourPortfolioContainer.ui.container,
.executivesContainer.ui.container {
 
  position: relative !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: flex !important;
  margin: 0 0 0 0 !important;
  width: 100% !important;
}

.executivesContainer {
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.meetTheTeamContainer {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 13% 0 15% 0;
}

.ourStoryContainer,
.achievementsContainer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20% 0 10% 0;
}

.ourStoryContainer.ui.container {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.clientName.ui.container {
  border-radius: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 215px !important;
  height: 50px !important;
  margin: 0px !important;
  left: 20% !important;
  background-color: #1c1c1c;
  color: white !important;
  font-size: 18px;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  opacity: 0;
  @media (max-width: 830px) {
    width: 120px !important;
    font-size: 1rem !important;
  }
}

.position.ui.container {
  border-radius: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 270px !important;
  height: 40px !important;
  margin: 0px !important;
  left: 20% !important;
  background-color: #a2a2a2;
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 2;
  font-family: "Open Sans", sans-serif;

  @media (max-width: 830px) {
    width: 200px !important;
    font-size: 1.2rem !important;
  }
}

.footerContainer.ui.container {
  width: 100% !important;
  height: 200px !important;
  margin-top: 20% !important;
  margin: 0px !important;
}

.background.ui.container {
  width: 100% !important;

  @media (max-width: 830px) {
    min-height: 700px !important;
  }
  @media (max-width: 767px) {
    width: 100% !important;
    margin: 0px !important;
  }
}

.overlay.ui.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  // padding-right: 30%;

  @media (max-width: 1276px) {
    top: 35%;
  }

  @media (max-width: 1020px) {
    top: 32%;
  }

  @media (max-width: 830px) {
    top: 60%;
  }

  @media (max-width: 767px) {
    width: 100% !important;
  }
}

.leftSide.ui.container.home, .rightSide.ui.container.home {
  opacity: 0;
}

.leftSide.ui.container,
.rightSide.ui.container {
  height: 900px;
 

  @media (max-width: 767px) {
    margin: 10px 0 10px 0 !important;
  }
}

.animateLeftContainer {
  animation: left-container-animation 1s ease 0.5s 1 normal forwards;
}

@keyframes left-container-animation {
	0% {
    opacity: 0;
		transform: scale(0);
		transform-origin: 0% 50%;
	}

	100% {
    opacity: 1;
		transform: scale(1);
		transform-origin: 0% 50%;
	}
}

.animateRightContainer {
  animation: right-container-animation 0.8s ease 0.5s 1 normal forwards;
}

@keyframes right-container-animation {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.leftSide.ui.container {
  width: 490px !important;
  background-color: #2d2c2c !important;
  
  @media (max-width: 830px) {
    width: 200px !important;
    margin: 0px !important;
  }

  @media (max-width: 500px) {
    width: 80px !important;
    margin: 0px !important;
  }
}


.rightSide.ui.container {
  background-color: #f2f2f2 !important;
 
  @media (max-width: 830px) {
    width: 100% !important;
    margin: 0px !important;
  }
}

// .ui.menu .active.item {
//   background-color: #C52402 !important;

// }

.employeesContainer.ui.container {
  width: 100% !important;
  margin: 0px !important;
}
.achievementItems {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: center !important;
  gap: 70px !important;
  opacity: 0;

  @media (max-width: 830px) {
    gap: 40px !important;
  }

  @media (max-width: 600px) {
    gap: 20px !important;
  }

  @media (max-width: 600px) {
    gap: 10px !important;
  }
}

.animateItem {
  animation: item-animation 1s ease 0.5s 1 normal forwards;
}

@keyframes item-animation {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.achievementItem {
  display: flex !important;
  align-items: center;
  background-color: #2d2c2c !important;
  border-radius: 50% !important;
  width: 230px !important;
  height: 230px !important;
  transition: 0.2s ease;

  @media (max-width: 1276px) {
    width: 180px !important;
    height: 180px !important;
  }

  @media (max-width: 1020px) {
    width: 150px !important;
    height: 150px !important;
  }

  @media (max-width: 830px) {
    width: 110px !important;
    height: 110px !important;
  }

  @media (max-width: 600px) {
    width: 100px !important;
    height: 100px !important;
  }

  @media (max-width: 500px) {
    width: 80px !important;
    height: 80px !important;
  }

  @media (max-width: 400px) {
    width: 70px !important;
    height: 70px !important;
  }
}

.achievementItem.ui.segment {
  margin: 20px 0 0 0 !important;

  @media (max-width: 600px) {
    padding: 14px !important;
  }
}

.achievementItem:hover {
  background-color: #c52402 !important;
  height: 350px !important;
  border-radius: 150px !important;

  @media (max-width: 1020px) {
    height: 280px !important;
  }

  
  @media (max-width: 830px) {
    height: 200px !important;
  }

  @media (max-width: 600px) {
    height: 180px !important;
  }

  @media (max-width: 500px) {
    height: 150px !important;
  }

  @media (max-width: 500px) {
    height: 140px !important;
  }
}

.achievementContent {
  display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.achievementContent.ui.container {
  @media (max-width: 767px) {
    margin: 0px !important;
  }
}

.achievementItem {
  position: relative;
}

.achievementHeader {
  padding: 20px !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  transition: 0.6 ease;
  display: none !important;
  font-family: "Open Sans", sans-serif !important;

  @media (max-width: 1020px) {
    font-size: 1.2rem !important;
  }
  
  @media (max-width: 830px) {
    font-size: 1rem !important;
  }

  @media (max-width: 600px) {
    font-size: 0.7rem !important;
  }

  @media (max-width: 500px) {
    font-size: 0.6rem !important;
  }
}

.achievementItem:hover .achievementHeader {
  display: block !important;
}




.cardsContainer {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  padding: 100px 50px 50px 50px;
  gap: 30px;
  opacity: 0;
  @media (max-width: 1020px) {
    flex-direction: column !important;
    padding: 80px !important;
  }

  @media (max-width: 830px) {
    padding: 60px 40px 40px 40px !important;
  }
}

.animateCardLeft {
  animation: animate-card-left 1s ease 0.2s 1 normal forwards;
}

@keyframes animate-card-left {
0% {
  opacity: 0;
  transform: translateX(-50px);
}

100% {
  opacity: 1;
  transform: translateX(0);
}
}

.animateCardRight {
  animation: animate-card-right 1s ease 0.2s 1 normal forwards;
}

@keyframes animate-card-right {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.second-card.ui.card,
.third-card.ui.card {
  margin: 0px !important;
}

.flushRight {
  flex-direction: row-reverse !important;
  @media (max-width: 1020px) {
    flex-direction: column !important;
  }
}

.main-card-2.ui.card {
  background-color: #3ebd5d !important;
}

.main-card-3.ui.card {
  background-color: #f16627 !important;
}

.main-card-4.ui.card {
  background-color: #00baff !important;
}

.main-card-5.ui.card {
  background-color: #c52402 !important;
}

.main-card-6.ui.card {
  background-color: #020066 !important;
}

.main-card-7.ui.card {
  background-color: #841700 !important;
}

.main-card-8.ui.card {
  background-color: #71a33b !important;
}

.main-card-9.ui.card {
  background-color: #c52402 !important;
}

.bottomIcons.ui.container {
  margin-top: 25%;
  display: flex !important;
  justify-content: flex-end;
  gap: 10px;

  @media (max-width: 1276px) {
    margin-top: 60%;
  }

  @media (max-width: 1020px) {
    margin-top: 35%;
    width: 50px !important;
  }

  @media (max-width: 880px) {
    margin-top: 45%;
  }

  @media (max-width: 830px) {
    margin-top: 55%;
  }

  @media (max-width: 767px) {
    display: none !important;
  }
}

// Variables
$bg-body: #f9f9f9;

$red: #c52402;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;

$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;

// Mixins and Placeholders
%clearfix {
  &:after,
  &:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in "-webkit-", "-moz-", "-ms-", "" {
    #{$prefix}#{$prop}: $val;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
html {
  height: 100%;
}
body {
  background: white;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-size: 14px;
  color: $base-font-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.timeline-container {
  display: flex;
  max-width: 100%;
  padding: 0px 100px 0px 100px;

  @media (max-width: 1020px) {
    padding: 0px 50px 0px 50px;
  }

  @media (max-width: 767px) {
    padding: 0px 20px 0px 20px;
  }

  @media (max-width: 500px) {
    padding: 0px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif; // Fix: Use 'font-family' instead of 'font:{family: ...}'
  font-weight: 700; // Fix: Use 'font-weight' instead of 'font:{weight: ...}'
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

// Header
header {
  background: $secondary-color;
  padding: 10px;
  @include prefix(box-shadow, 0 3px 3px rgba(0, 0, 0, 0.05));
  @extend %clearfix;

  .logo {
    color: $primary-color;
    float: left;
    font-family: "Open Sans", sans-serif; /* Corrected */
    font-size: 22px; /* Corrected */
    font-weight: 500; /* Corrected */

    > span {
      color: lighten($primary-color, 20%);
      font-weight: 500;
    }
  }

  .social {
    float: right;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin: 10px 5px;
    }
  }
}

// Timeline
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  @include prefix(transition, all 0.4s ease);

  &:before {
    content: "";
    width: 2px;
    height: 85%;
    background: #2d2c2c;
    left: 50%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon-left {
      background: #2d2c2c;
      width: 160px;
      height: 160px;
      position: absolute;
      top: -54px;
      left: 48%;
      margin-left: -4%;
      @include prefix(border-radius, 50%);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.5rem;
      font-weight: 700;
      &:after {
        content: "";
        width: 350px;
        height: 2px;
        background: #2d2c2c;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 50%;
        left: auto;
        transform: translateY(-50%);

        @media (max-width: 830px) {
          width: 50px;
        }
      }

      @media (max-width: 1430px) {
        width: 120px;
        height: 120px;
        font-size: 2.5rem;
        top: -33px;
        left: 48.5%;
      }

      @media (max-width: 1020px) {
        left: 46%;
      }

      @media (max-width: 830px) {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
        left: -20px;
        top: -10px;
      }

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
        left: 10px;
        top: -1px;
      }

      @media (max-width: 600px) {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
        left: 1px;
        top: -1px;
      }
    }

    .timeline-icon-right {
      background: #2d2c2c;
      width: 160px;
      height: 160px;
      position: absolute;
      top: -54px;
      left: 48%;
      margin-left: -4%;
      @include prefix(border-radius, 50%);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.5rem;
      font-weight: 700;

      &:after {
        content: "";
        width: 300px;
        height: 1.5px;
        background: #2d2c2c;
        position: absolute;
        right: 100;
        z-index: -1;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);

        @media (max-width: 830px) {
          width: 50px;
        }
      }

      @media (max-width: 1430px) {
        width: 120px;
        height: 120px;
        font-size: 2.5rem;
        top: -33px;
        left: 48.5%;
      }

      @media (max-width: 1020px) {
        left: 46%;
      }

      @media (max-width: 830px) {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
        left: -20px;
        top: -10px;
      }

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
        left: 10px;
        top: -1px;
      }

      @media (max-width: 600px) {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
        left: 1px;
        top: -1px;
      }
    }

    .timeline-content {
      width: 30%;
      background: #f2f2f2;
      padding: 20px;

      @include prefix(transition, all 0.3s ease);

      h2 {
        padding: 15px;
        background: $timeline-color;
        color: #fff;
        margin: -20px -20px 0 -20px;
        font-weight: 600;
        @include prefix(border-radius, 3px 3px 0 0);
      }

      &:before {
        content: "";
        position: absolute;
        left: 30%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $timeline-color;
      }

      &.right {
        float: right;

        &:before {
          content: "";
          right: 30%;
          left: inherit;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }
    }
  }
}

// Buttons
.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid lighten($primary-color, 10%);
  color: lighten($primary-color, 10%);
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  @include prefix(border-radius, 5px);
  @include prefix(transition, background 0.3s ease);
  @include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

  &:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    @include prefix(box-shadow, 2px 2px 0 transparent);
  }
}

@media screen and (max-width: 830px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0px;

      @media (max-width: 767px) {
        left: 15px;
      }
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before,
        &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $timeline-color;

          @media (max-width: 600px) {
            left: 15%;
          }

          @media (max-width: 400px) {
            left: 20%;
          }
        }

        @media (max-width: 600px) {
          width: 85%;
        }

        @media (max-width: 400px) {
          width: 80%;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

p {
  color: #2d2c2c;
  font-size: 1.2rem;
  text-align: left;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.p1 {
  margin-top: 1em;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.timeline-header {
  text-align: left;

  @media (max-width: 500px) {
    font-size: 1.3rem;
  }
}

svg {
  stroke: red;
  fill: white;
}

.employeesImage {
  width: 20% !important;
  height: auto !important;
  min-width: 0 !important;
  min-height: 0 !important;
  margin: 0px !important;
  position: absolute;
}

.employeesImage.image-8 {
  transition: transform 0.5s ease-in-out;
}

// .image-8:hover {
//   transform: translateY(40rem);
// }

.image-8 {
  z-index: 3;
}

.image-1, .image-15 {
  z-index: 2;
}

.animateImage8 {
  animation: image-8 0.5s ease 0s 1 normal forwards;
}

@keyframes image-8 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(30.5rem);
	}
}

.animateImage1 {
  animation: image-1 0.5s ease 0s 1 normal forwards;
}

@keyframes image-1 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-43rem);
	}
}

.animateImage15 {
  animation: image-15 0.5s ease 0s 1 normal forwards;
}

@keyframes image-15 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(43rem) translateY(60.5rem);
	}
}


.image-2 {
  transform: translate(-43rem);
  opacity: 0;
}

.animateImage2 {
  animation: image-2 0.5s ease 0s 1 normal forwards;
}

@keyframes image-2 {
	0% {
    
		transform: translateX(-43rem);
	}

	100% {
    opacity: 1;
		transform: translateX(-21.5rem);
	}
}

.image-3 {
  transform: translate(-43rem);
  opacity: 0;
}

.animateImage3 {
  animation: image-3 0.5s ease 0s 1 normal forwards;
}

@keyframes image-3 {
	0% {
		transform: translateX(-43rem);
	}

	100% {
  opacity: 1;
		transform: translateX(0.5px);
	}
}

.image-4 {
  transform: translate(-43rem);
  opacity: 0;
}

.animateImage4 {
  animation: image-4 0.5s ease 0s 1 normal forwards;
}

@keyframes image-4 {
	0% {
		transform: translateX(-43rem);
	}

	100% {
  opacity: 1;
		transform: translateX(21.5rem);
	}
}

.image-5 {
  transform: translate(-43rem);
  opacity: 0;
}

.animateImage5 {
  animation: image-5 0.5s ease 0s 1 normal forwards;
}

@keyframes image-5 {
	0% {
		transform: translateX(-43rem);
	}

	100% {
  opacity: 1;
		transform: translateX(43rem);
	}
}

.image-6 {
  transform: translateX(0rem) translateY(31rem);
  opacity: 0;
}

.animateImage6 {
  animation: image-6 0.5s ease 0s 1 normal forwards;
}

@keyframes image-6 {
	0% {
		transform: translateX(0rem) translateY(31rem);
	}

	100% {
  opacity: 1;
		transform: translateX(-43rem) translateY(30.5rem);
	}
}

.image-7 {
  transform: translateX(0rem) translateY(31rem);
  opacity: 0;
}

.animateImage7 {
  animation: image-7 0.5s ease 0s 1 normal forwards;
}

@keyframes image-7 {
	0% {
		transform: translateX(0rem) translateY(31rem);
	}

	100% {
  opacity: 1;
		transform: translateX(-21.5rem) translateY(30.5rem);
	}
}

.image-9 {
  transform: translateX(0rem) translateY(31rem);
  opacity: 0;
}

.animateImage9 {
  animation: image-9 0.5s ease 0s 1 normal forwards;
}

@keyframes image-9 {
	0% {
		transform: translateX(0rem) translateY(31rem);
	}

	100% {
  opacity: 1;
		transform: translateX(21.5rem) translateY(30.5rem);
	}
}

.image-10 {
  transform: translateX(0rem) translateY(31rem);
  opacity: 0;
}

.animateImage10 {
  animation: image-10 0.5s ease 0s 1 normal forwards;
}

@keyframes image-10 {
	0% {
		transform: translateX(0rem) translateY(31rem);
	}

	100% {
  opacity: 1;
		transform: translateX(43rem) translateY(30.5rem);
	}
}

.image-11 {
  transform: translateX(43rem) translateY(62rem);
  opacity: 0;
}

.animateImage11 {
  animation: image-11 0.5s ease 0s 1 normal forwards;
}

@keyframes image-11 {
	0% {
		transform: translateX(43rem) translateY(62rem);
	}

	100% {
  opacity: 1;
		transform: translateX(-43rem) translateY(60.5rem);
	}
}

.image-12 {
  transform: translateX(43rem) translateY(62rem);
  opacity: 0;
}

.animateImage12 {
  animation: image-12 0.5s ease 0s 1 normal forwards;
}

@keyframes image-12 {
	0% {
		transform: translateX(43rem) translateY(62rem);
	}

	100% {
  opacity: 1;
		transform: translateX(-21.5rem) translateY(60.5rem);
	}
}

.image-13 {
  transform: translateX(43rem) translateY(62rem);
  opacity: 0;
}

.animateImage13 {
  animation: image-13 0.5s ease 0s 1 normal forwards;
}

@keyframes image-13 {
	0% {
		transform: translateX(43rem) translateY(62rem);
	}

	100% {
  opacity: 1;
		transform: translateX(0.5px) translateY(60.5rem);
	}
}

.image-14 {
  transform: translateX(43rem) translateY(62rem);
  opacity: 0;
}

.animateImage14 {
  animation: image-14 0.5s ease 0s 1 normal forwards;
}

@keyframes image-14 {
	0% {
		transform: translateX(43rem) translateY(62rem);
	}

	100% {
  opacity: 1;
		transform: translateX(21.6rem) translateY(60.5rem);
	}
}

// .resetAnimation {
//   animation: reset-animation 1s ease 0s 1 normal forwards;
// }

// @keyframes reset-animation {
//   0% {
//     transform: var(--transform-start, translateX(0) translateY(0));
//     opacity: var(--opacity-start, 1);
//   }
//   100% {
//     transform: translateX(0) translateY(0rem);
//     opacity: 0;
//   }
// }